---
http_interactions:
- request:
    method: post
    uri: https://api.profitbricks.com/cloudapi/v4/datacenters?depth=1
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"Puppet Module Test","description":null,"location":"us/las"},"entities":{}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - https://api.profitbricks.com/cloudapi/v4/requests/a4574a25-83ac-482e-99c8-bb5cc01d7dd0/status
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "b9c6cb26-6100-4ba3-803a-caf75267068a",
          "type" : "datacenter",
          "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a",
          "metadata" : {
            "createdDate" : "2017-11-04T20:49:23Z",
            "createdBy" : "username",
            "etag" : "80c468444cf04b7f7ebfaa2e1c9862dd",
            "lastModifiedDate" : "2017-11-04T20:49:23Z",
            "lastModifiedBy" : "username",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "Puppet Module Test",
            "description" : null,
            "location" : "us/las",
            "version" : null,
            "features" : [ ],
            "secAuthProtection" : null
          },
          "entities" : { }
        }
  recorded_at: Sat, 04 Nov 2017 20:49:22 GMT
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/requests/a4574a25-83ac-482e-99c8-bb5cc01d7dd0?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "a4574a25-83ac-482e-99c8-bb5cc01d7dd0",
          "type" : "request",
          "href" : "https://api.profitbricks.com/cloudapi/v4/requests/a4574a25-83ac-482e-99c8-bb5cc01d7dd0",
          "metadata" : {
            "createdDate" : "2017-11-04T20:49:22Z",
            "createdBy" : "username",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "requestStatus" : {
              "id" : "a4574a25-83ac-482e-99c8-bb5cc01d7dd0/status",
              "type" : "request-status",
              "href" : "https://api.profitbricks.com/cloudapi/v4/requests/a4574a25-83ac-482e-99c8-bb5cc01d7dd0/status",
              "metadata" : {
                "status" : "DONE",
                "message" : "Request has been successfully executed",
                "etag" : "2ba22e58ca17bb728d522bba36cf8350",
                "targets" : [ {
                  "target" : {
                    "id" : "b9c6cb26-6100-4ba3-803a-caf75267068a",
                    "type" : "datacenter",
                    "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a"
                  },
                  "status" : "DONE"
                } ]
              }
            }
          },
          "properties" : {
            "method" : "POST",
            "headers" : {
              "content-type" : "application/json",
              "x-reseller" : "pb.domain"
            },
            "body" : "{\"properties\":{\"name\":\"Puppet Module Test\",\"description\":null,\"location\":\"us/las\"},\"entities\":{}}",
            "url" : "https://api.profitbricks.com/cloudapi/v4/datacenters?depth=1?depth=1"
          }
        }
  recorded_at: Sat, 04 Nov 2017 20:49:29 GMT
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/requests/a4574a25-83ac-482e-99c8-bb5cc01d7dd0/status?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "a4574a25-83ac-482e-99c8-bb5cc01d7dd0/status",
          "type" : "request-status",
          "href" : "https://api.profitbricks.com/cloudapi/v4/requests/a4574a25-83ac-482e-99c8-bb5cc01d7dd0/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "b9c6cb26-6100-4ba3-803a-caf75267068a",
                "type" : "datacenter",
                "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Sat, 04 Nov 2017 20:49:37 GMT
[...]
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/requests/a4574a25-83ac-482e-99c8-bb5cc01d7dd0/status?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "a4574a25-83ac-482e-99c8-bb5cc01d7dd0/status",
          "type" : "request-status",
          "href" : "https://api.profitbricks.com/cloudapi/v4/requests/a4574a25-83ac-482e-99c8-bb5cc01d7dd0/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "b9c6cb26-6100-4ba3-803a-caf75267068a",
                "type" : "datacenter",
                "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Sat, 04 Nov 2017 20:49:52 GMT
recorded_with: VCR 3.0.3
