---
http_interactions:
- request:
    method: post
    uri: https://api.profitbricks.com/cloudapi/v4/datacenters?depth=1
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"Puppet Module Test 2","description":"Puppet
        Module test description","location":"us/las"},"entities":{}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - https://api.profitbricks.com/cloudapi/v4/requests/e474c918-b3e4-4020-b538-acfec1fc730d/status
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "0170403e-9bad-4929-8f19-9c5d74a10c2f",
          "type" : "datacenter",
          "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/0170403e-9bad-4929-8f19-9c5d74a10c2f",
          "metadata" : {
            "createdDate" : "2017-11-04T20:42:12Z",
            "createdBy" : "username",
            "etag" : "36c5efaebb9237827d8c1fb0ccdf0158",
            "lastModifiedDate" : "2017-11-04T20:42:12Z",
            "lastModifiedBy" : "username",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "Puppet Module Test 2",
            "description" : "Puppet Module test description",
            "location" : "us/las",
            "version" : null,
            "features" : [ ],
            "secAuthProtection" : null
          },
          "entities" : { }
        }
  recorded_at: Sat, 04 Nov 2017 20:42:11 GMT
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/requests/e474c918-b3e4-4020-b538-acfec1fc730d?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "e474c918-b3e4-4020-b538-acfec1fc730d",
          "type" : "request",
          "href" : "https://api.profitbricks.com/cloudapi/v4/requests/e474c918-b3e4-4020-b538-acfec1fc730d",
          "metadata" : {
            "createdDate" : "2017-11-04T20:42:11Z",
            "createdBy" : "username",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "requestStatus" : {
              "id" : "e474c918-b3e4-4020-b538-acfec1fc730d/status",
              "type" : "request-status",
              "href" : "https://api.profitbricks.com/cloudapi/v4/requests/e474c918-b3e4-4020-b538-acfec1fc730d/status",
              "metadata" : {
                "status" : "DONE",
                "message" : "Request has been successfully executed",
                "etag" : "2ba22e58ca17bb728d522bba36cf8350",
                "targets" : [ {
                  "target" : {
                    "id" : "0170403e-9bad-4929-8f19-9c5d74a10c2f",
                    "type" : "datacenter",
                    "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/0170403e-9bad-4929-8f19-9c5d74a10c2f"
                  },
                  "status" : "DONE"
                } ]
              }
            }
          },
          "properties" : {
            "method" : "POST",
            "headers" : {
              "content-type" : "application/json",
              "x-reseller" : "pb.domain"
            },
            "body" : "{\"properties\":{\"name\":\"Puppet Module Test 2\",\"description\":\"Puppet Module test description\",\"location\":\"us/las\"},\"entities\":{}}",
            "url" : "https://api.profitbricks.com/cloudapi/v4/datacenters?depth=1?depth=1"
          }
        }
  recorded_at: Sat, 04 Nov 2017 20:42:21 GMT
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/requests/e474c918-b3e4-4020-b538-acfec1fc730d/status?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "e474c918-b3e4-4020-b538-acfec1fc730d/status",
          "type" : "request-status",
          "href" : "https://api.profitbricks.com/cloudapi/v4/requests/e474c918-b3e4-4020-b538-acfec1fc730d/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "0170403e-9bad-4929-8f19-9c5d74a10c2f",
                "type" : "datacenter",
                "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/0170403e-9bad-4929-8f19-9c5d74a10c2f"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Sat, 04 Nov 2017 20:42:24 GMT
[...]
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/requests/e474c918-b3e4-4020-b538-acfec1fc730d/status?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "e474c918-b3e4-4020-b538-acfec1fc730d/status",
          "type" : "request-status",
          "href" : "https://api.profitbricks.com/cloudapi/v4/requests/e474c918-b3e4-4020-b538-acfec1fc730d/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "0170403e-9bad-4929-8f19-9c5d74a10c2f",
                "type" : "datacenter",
                "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/0170403e-9bad-4929-8f19-9c5d74a10c2f"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Sat, 04 Nov 2017 20:42:37 GMT
recorded_with: VCR 3.0.3
