---
http_interactions:
- request:
    method: post
    uri: https://api.profitbricks.com/cloudapi/v3/datacenters?depth=1
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"dummydc","description":null,"location":"us/las"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - https://api.profitbricks.com/cloudapi/v3/requests/267bb03b-b7d9-4fe5-a57e-cffa83f36eb1/status
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "6c2134f7-3789-40ab-b465-939214119b22",
          "type" : "datacenter",
          "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22",
          "metadata" : {
            "createdDate" : "2017-04-20T15:16:27Z",
            "createdBy" : "username",
            "etag" : "adb4777d52fbee9af48af680c36cfe99",
            "lastModifiedDate" : "2017-04-20T15:16:27Z",
            "lastModifiedBy" : "username",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "dummydc",
            "description" : null,
            "location" : "us/las",
            "version" : null,
            "features" : [ ]
          }
        }
  recorded_at: Thu, 20 Apr 2017 15:16:20 GMT
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v3/requests/267bb03b-b7d9-4fe5-a57e-cffa83f36eb1?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "267bb03b-b7d9-4fe5-a57e-cffa83f36eb1",
          "type" : "request",
          "href" : "https://api.profitbricks.com/cloudapi/v3/requests/267bb03b-b7d9-4fe5-a57e-cffa83f36eb1",
          "metadata" : {
            "createdDate" : "2017-04-20T15:16:27Z",
            "createdBy" : "username",
            "etag" : "37a6259cc0c1dae299a7866489dff0bd",
            "requestStatus" : {
              "id" : "267bb03b-b7d9-4fe5-a57e-cffa83f36eb1/status",
              "type" : "request-status",
              "href" : "https://api.profitbricks.com/cloudapi/v3/requests/267bb03b-b7d9-4fe5-a57e-cffa83f36eb1/status"
            }
          },
          "properties" : {
            "method" : "POST",
            "headers" : {
              "content-type" : "application/json",
              "x-reseller" : "pb.domain"
            },
            "body" : "{\"properties\":{\"name\":\"dummydc\",\"description\":null,\"location\":\"us/las\"}}",
            "url" : "https://api.profitbricks.com/cloudapi/v3/datacenters?depth=1?depth=1"
          }
        }
  recorded_at: Thu, 20 Apr 2017 15:16:21 GMT
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v3/requests/267bb03b-b7d9-4fe5-a57e-cffa83f36eb1/status?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "267bb03b-b7d9-4fe5-a57e-cffa83f36eb1/status",
          "type" : "request-status",
          "href" : "https://api.profitbricks.com/cloudapi/v3/requests/267bb03b-b7d9-4fe5-a57e-cffa83f36eb1/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "6c2134f7-3789-40ab-b465-939214119b22",
                "type" : "datacenter",
                "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Thu, 20 Apr 2017 15:16:21 GMT
[...]
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v3/requests/267bb03b-b7d9-4fe5-a57e-cffa83f36eb1/status?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "267bb03b-b7d9-4fe5-a57e-cffa83f36eb1/status",
          "type" : "request-status",
          "href" : "https://api.profitbricks.com/cloudapi/v3/requests/267bb03b-b7d9-4fe5-a57e-cffa83f36eb1/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "6c2134f7-3789-40ab-b465-939214119b22",
                "type" : "datacenter",
                "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Thu, 20 Apr 2017 15:16:21 GMT
recorded_with: VCR 3.0.3
