---
http_interactions:
- request:
    method: post
    uri: https://api.profitbricks.com/cloudapi/v3/datacenters?depth=1
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"dummydc2","description":"test desc","location":"de/fkb"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - https://api.profitbricks.com/cloudapi/v3/requests/92aeaef6-b070-4d0d-aec7-bdce00984d65/status
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "09ebfbad-a088-4f21-8b35-d4e92c7c6e20",
          "type" : "datacenter",
          "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/09ebfbad-a088-4f21-8b35-d4e92c7c6e20",
          "metadata" : {
            "createdDate" : "2017-04-20T15:16:29Z",
            "createdBy" : "username",
            "etag" : "500e2ec957191c05b57dacef9581af6b",
            "lastModifiedDate" : "2017-04-20T15:16:29Z",
            "lastModifiedBy" : "username",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "dummydc2",
            "description" : "test desc",
            "location" : "de/fkb",
            "version" : null,
            "features" : [ ]
          }
        }
  recorded_at: Thu, 20 Apr 2017 15:16:22 GMT
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v3/requests/92aeaef6-b070-4d0d-aec7-bdce00984d65?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "92aeaef6-b070-4d0d-aec7-bdce00984d65",
          "type" : "request",
          "href" : "https://api.profitbricks.com/cloudapi/v3/requests/92aeaef6-b070-4d0d-aec7-bdce00984d65",
          "metadata" : {
            "createdDate" : "2017-04-20T15:16:29Z",
            "createdBy" : "username",
            "etag" : "37a6259cc0c1dae299a7866489dff0bd",
            "requestStatus" : {
              "id" : "92aeaef6-b070-4d0d-aec7-bdce00984d65/status",
              "type" : "request-status",
              "href" : "https://api.profitbricks.com/cloudapi/v3/requests/92aeaef6-b070-4d0d-aec7-bdce00984d65/status"
            }
          },
          "properties" : {
            "method" : "POST",
            "headers" : {
              "content-type" : "application/json",
              "x-reseller" : "pb.domain"
            },
            "body" : "{\"properties\":{\"name\":\"dummydc2\",\"description\":\"test desc\",\"location\":\"de/fkb\"}}",
            "url" : "https://api.profitbricks.com/cloudapi/v3/datacenters?depth=1?depth=1"
          }
        }
  recorded_at: Thu, 20 Apr 2017 15:16:22 GMT
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v3/requests/92aeaef6-b070-4d0d-aec7-bdce00984d65/status?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "92aeaef6-b070-4d0d-aec7-bdce00984d65/status",
          "type" : "request-status",
          "href" : "https://api.profitbricks.com/cloudapi/v3/requests/92aeaef6-b070-4d0d-aec7-bdce00984d65/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "09ebfbad-a088-4f21-8b35-d4e92c7c6e20",
                "type" : "datacenter",
                "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/09ebfbad-a088-4f21-8b35-d4e92c7c6e20"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Thu, 20 Apr 2017 15:16:22 GMT
[...]
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v3/requests/92aeaef6-b070-4d0d-aec7-bdce00984d65/status?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "92aeaef6-b070-4d0d-aec7-bdce00984d65/status",
          "type" : "request-status",
          "href" : "https://api.profitbricks.com/cloudapi/v3/requests/92aeaef6-b070-4d0d-aec7-bdce00984d65/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "09ebfbad-a088-4f21-8b35-d4e92c7c6e20",
                "type" : "datacenter",
                "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/09ebfbad-a088-4f21-8b35-d4e92c7c6e20"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Thu, 20 Apr 2017 15:16:23 GMT
recorded_with: VCR 3.0.3
