---
http_interactions:
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters",
          "items" : [ {
            "id" : "0170403e-9bad-4929-8f19-9c5d74a10c2f",
            "type" : "datacenter",
            "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/0170403e-9bad-4929-8f19-9c5d74a10c2f",
            "metadata" : {
              "createdDate" : "2017-11-04T20:42:12Z",
              "createdBy" : "username",
              "etag" : "f45372fd1d4a3d95b301e1663e690909",
              "lastModifiedDate" : "2017-11-04T20:42:12Z",
              "lastModifiedBy" : "username",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "Puppet Module Test 2",
              "description" : "Puppet Module test description",
              "location" : "us/las",
              "version" : 1,
              "features" : [ "SSD", "MULTIPLE_CPU" ],
              "secAuthProtection" : false
            },
            "entities" : {
              "servers" : {
                "id" : "0170403e-9bad-4929-8f19-9c5d74a10c2f/servers",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/0170403e-9bad-4929-8f19-9c5d74a10c2f/servers"
              },
              "volumes" : {
                "id" : "0170403e-9bad-4929-8f19-9c5d74a10c2f/volumes",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/0170403e-9bad-4929-8f19-9c5d74a10c2f/volumes"
              },
              "loadbalancers" : {
                "id" : "0170403e-9bad-4929-8f19-9c5d74a10c2f/loadbalancers",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/0170403e-9bad-4929-8f19-9c5d74a10c2f/loadbalancers"
              },
              "lans" : {
                "id" : "0170403e-9bad-4929-8f19-9c5d74a10c2f/lans",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/0170403e-9bad-4929-8f19-9c5d74a10c2f/lans"
              }
            }
          }, {
            "id" : "b9c6cb26-6100-4ba3-803a-caf75267068a",
            "type" : "datacenter",
            "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a",
            "me[...]
