---
http_interactions:
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v3/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters",
          "items" : [ {
            "id" : "09ebfbad-a088-4f21-8b35-d4e92c7c6e20",
            "type" : "datacenter",
            "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/09ebfbad-a088-4f21-8b35-d4e92c7c6e20",
            "metadata" : {
              "createdDate" : "2017-04-20T15:16:29Z",
              "createdBy" : "username",
              "etag" : "b80c23ac8d09049b42ea00a6478b1873",
              "lastModifiedDate" : "2017-04-20T15:16:29Z",
              "lastModifiedBy" : "username",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "dummydc2",
              "description" : "test desc",
              "location" : "de/fkb",
              "version" : 1,
              "features" : [ "SSD", "MULTIPLE_CPU" ]
            },
            "entities" : {
              "servers" : {
                "id" : "09ebfbad-a088-4f21-8b35-d4e92c7c6e20/servers",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/09ebfbad-a088-4f21-8b35-d4e92c7c6e20/servers"
              },
              "volumes" : {
                "id" : "09ebfbad-a088-4f21-8b35-d4e92c7c6e20/volumes",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/09ebfbad-a088-4f21-8b35-d4e92c7c6e20/volumes"
              },
              "loadbalancers" : {
                "id" : "09ebfbad-a088-4f21-8b35-d4e92c7c6e20/loadbalancers",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/09ebfbad-a088-4f21-8b35-d4e92c7c6e20/loadbalancers"
              },
              "lans" : {
                "id" : "09ebfbad-a088-4f21-8b35-d4e92c7c6e20/lans",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/09ebfbad-a088-4f21-8b35-d4e92c7c6e20/lans"
              }
            }
          }, {
            "id" : "6c2134f7-3789-40ab-b465-939214119b22",
            "type" : "datacenter",
            "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22",
            "me[...]
- request:
    method: patch
    uri: https://api.profitbricks.com/cloudapi/v3/datacenters/09ebfbad-a088-4f21-8b35-d4e92c7c6e20?depth=1
    body:
      encoding: UTF-8
      string: '{"description":"new description"}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - https://api.profitbricks.com/cloudapi/v3/requests/50ca368d-b967-42d9-8af1-e58a1b6c4c04/status
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "09ebfbad-a088-4f21-8b35-d4e92c7c6e20",
          "type" : "datacenter",
          "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/09ebfbad-a088-4f21-8b3[...]
[...]
