---
http_interactions:
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v3/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters",
          "items" : [ {
            "id" : "09ebfbad-a088-4f21-8b35-d4e92c7c6e20",
            "type" : "datacenter",
            "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/09ebfbad-a088-4f21-8b35-d4e92c7c6e20",
            "metadata" : {
              "createdDate" : "2017-04-20T15:16:29Z",
              "createdBy" : "username",
              "etag" : "d80a60164b49715213d2ab98f8fcc144",
              "lastModifiedDate" : "2017-04-20T15:16:32Z",
              "lastModifiedBy" : "username",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "dummydc2",
              "description" : "new description",
              "location" : "de/fkb",
              "version" : 2,
              "features" : [ "SSD", "MULTIPLE_CPU" ]
            },
            "entities" : {
              "servers" : {
                "id" : "09ebfbad-a088-4f21-8b35-d4e92c7c6e20/servers",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/09ebfbad-a088-4f21-8b35-d4e92c7c6e20/servers"
              },
              "volumes" : {
                "id" : "09ebfbad-a088-4f21-8b35-d4e92c7c6e20/volumes",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/09ebfbad-a088-4f21-8b35-d4e92c7c6e20/volumes"
              },
              "loadbalancers" : {
                "id" : "09ebfbad-a088-4f21-8b35-d4e92c7c6e20/loadbalancers",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/09ebfbad-a088-4f21-8b35-d4e92c7c6e20/loadbalancers"
              },
              "lans" : {
                "id" : "09ebfbad-a088-4f21-8b35-d4e92c7c6e20/lans",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/09ebfbad-a088-4f21-8b35-d4e92c7c6e20/lans"
              }
            }
          }, {
            "id" : "6c2134f7-3789-40ab-b465-939214119b22",
            "type" : "datacenter",
            "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22",
            "me[...]
- request:
    method: delete
    uri: https://api.profitbricks.com/cloudapi/v3/datacenters/09ebfbad-a088-4f21-8b35-d4e92c7c6e20?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - https://api.profitbricks.com/cloudapi/v3/requests/0edfca93-9f70-43fb-ab5b-68f5db89b3d5/status
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 20 Apr 2017 15:16:26 GMT
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v3/requests/0edfca93-9f70-43fb-ab5b-68f5db89b3d5?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "0edfca93-9f70-43fb-ab5b-68f5db89b3d5",
          "type" : "request",
          "href" : "https://api.profitbricks.com/cloudapi/v3/requests/0edfca93-9f70-43fb-ab5b-68f5db89b3d5",
          "metadata" : {
            "createdDate" : "2017-04-20T15:16:33Z",
            "createdBy" : "username",
            "etag" : "37a6259cc0c1dae299a7866489dff0bd",
            "requestStatus" : {
              "id" : "0edfca93-9f70-43fb-ab5b-68f5db89b3d5/status",
              "type" : "request-status",
              "href" : "https://api.profitbricks.com/cloudapi/v3/requests/0edfca93-9f70-43fb-ab5b-68f5db89b3d5/status"
            }
          },
          "properties" : {
            "method" : "DELETE",
            "headers" : {
              "content-type" : "application/json",
              "x-reseller" : "pb.domain"
            },
            "body" : null,
            "url" : "https://api.profitbricks.com/cloudapi/v3/datacenters/09ebfbad-a088-4f21-8b35-d4e92c7c6e20?depth=1?depth=1"
          }
        }
  recorded_at: Thu, 20 Apr 2017 15:16:26 GMT
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v3/requests/0edfca93-9f70-43fb-ab5b-68f5db89b3d5/status?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "0edfca93-9f70-43fb-ab5b-68f5db89b3d5/status",
          "type" : "request-status",
          "href" : "https://api.profitbricks.com/cloudapi/v3/requests/0edfca93-9f70-43fb-ab5b-68f5db89b3d5/status",
          "metadata" : {
            "status" : "QUEUED",
            "message" : "Request has been queued",
            "etag" : "9df29ce7ca629ff1d47bca1149d9faae",
            "targets" : [ {
              "target" : {
                "id" : "09ebfbad-a088-4f21-8b35-d4e92c7c6e20",
                "type" : "datacenter",
                "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/09ebfbad-a088-4f21-8b35-d4e92c7c6e20"
              },
              "status" : "QUEUED"
            } ]
          }
        }
  recorded_at: Thu, 20 Apr 2017 15:16:27 GMT
[...]
