---
http_interactions:
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v3/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters",
          "items" : [ {
            "id" : "93f0668b-bd35-43a0-a0e6-da4bf7915943",
            "type" : "datacenter",
            "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/93f0668b-bd35-43a0-a0e6-da4bf7915943",
            "metadata" : {
              "createdDate" : "2017-03-12T22:11:22Z",
              "createdBy" : "username",
              "etag" : "98b44410f1fa3acbed1906951b791ce8",
              "lastModifiedDate" : "2017-03-12T22:54:19Z",
              "lastModifiedBy" : "username",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "dummydc",
              "description" : null,
              "location" : "us/las",
              "version" : 7,
              "features" : [ "SSD", "MULTIPLE_CPU" ]
            },
            "entities" : {
              "servers" : {
                "id" : "93f0668b-bd35-43a0-a0e6-da4bf7915943/servers",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/93f0668b-bd35-43a0-a0e6-da4bf7915943/servers"
              },
              "volumes" : {
                "id" : "93f0668b-bd35-43a0-a0e6-da4bf7915943/volumes",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/93f0668b-bd35-43a0-a0e6-da4bf7915943/volumes"
              },
              "loadbalancers" : {
                "id" : "93f0668b-bd35-43a0-a0e6-da4bf7915943/loadbalancers",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/93f0668b-bd35-43a0-a0e6-da4bf7915943/loadbalancers"
              },
              "lans" : {
                "id" : "93f0668b-bd35-43a0-a0e6-da4bf7915943/lans",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/93f0668b-bd35-43a0-a0e6-da4bf7915943/lans"
              }
            }
          } ]
        }
  recorded_at: Sun, 12 Mar 2017 22:57:07 GMT
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v3/datacenters/93f0668b-bd35-43a0-a0e6-da4bf7915943/servers?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
    [...]
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v3/datacenters/93f0668b-bd35-43a0-a0e6-da4bf7915943/servers/e658538c-88a3-4107-9eef-c37b6b32221b/nics?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
 [...]
- request:
    method: post
    uri: https://api.profitbricks.com/cloudapi/v3/datacenters/93f0668b-bd35-43a0-a0e6-da4bf7915943/servers/e658538c-88a3-4107-9eef-c37b6b32221b/nics/c53516ae-f28f-4fb1-ad1b-6bb4385fee62/firewallrules?depth=1
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"testrule","protocol":"TCP","sourceMac":null,"sourceIp":null,"targetIp":null,"portRangeStart":"80","portRangeEnd":"80","icmpType":null,"icmpCode":null}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - https://api.profitbricks.com/cloudapi/v3/requests/40146886-11e1-485c-9376-4a08fa929849/status
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "6a15c509-a4b6-45a0-b935-a99369c4bfd4",
          "type" : "firewall-rule",
          "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/93f0668b-bd35-43a0-a0e6-da4bf7915943/servers/e658538c-88a3-4107-9eef-c37b6b32221b/nics/c53516ae-f28f-4fb1-ad1b-6bb4385fee62/firewallrules/6a15c509-a4b6-45a0-b935-a99369c4bfd4",
          "metadata" : {
            "createdDate" : "2017-03-12T22:57:08Z",
            "createdBy" : "username",
            "etag" : "1dc24eaca9aedcc2f2591e03281fd03f",
            "lastModifiedDate" : "2017-03-12T22:57:08Z",
            "lastModifiedBy" : "username",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "testrule",
            "protocol" : "TCP",
            "sourceMac" : null,
            "sourceIp" : null,
            "targetIp" : null,
            "icmpCode" : null,
            "icmpType" : null,
            "portRangeStart" : 80,
            "portRangeEnd" : 80
          }
        }
  recorded_at: Sun, 12 Mar 2017 22:57:08 GMT
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v3/requests/40146886-11e1-485c-9376-4a08fa929849?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "40146886-11e1-485c-9376-4a08fa929849",
          "type" : "request",
          "href" : "https://api.profitbricks.com/cloudapi/v3/requests/40146886-11e1-485c-9376-4a08fa929849",
          "metadata" : {
            "createdDate" : "2017-03-12T22:57:08Z",
            "createdBy" : "username",
            "etag" : "37a6259cc0c1dae299a7866489dff0bd",
            "requestStatus" : {
              "id" : "40146886-11e1-485c-9376-4a08fa929849/status",
              "type" : "request-status",
              "href" : "https://api.profitbricks.com/cloudapi/v3/requests/40146886-11e1-485c-9376-4a08fa929849/status"
            }
          },
          "properties" : {
            "method" : "POST",
            "headers" : {
              "content-type" : "application/json",
              "x-reseller" : "pb.domain"
            },
            "body" : "{\"properties\":{\"name\":\"testrule\",\"protocol\":\"TCP\",\"sourceMac\":null,\"sourceIp\":null,\"targetIp\":null,\"portRangeStart\":\"80\",\"portRangeEnd\":\"80\",\"icmpType\":null,\"icmpCode\":null}}",
            "url" : "https://api.profitbricks.com/cloudapi/v3/datacenters/93f0668b-bd35-43a0-a0e6-da4bf7915943/servers/e658538c-88a3-4107-9eef-c37b6b32221b/nics/c53516ae-f28f-4fb1-ad1b-6bb4385fee62/firewallrules?depth=1?depth=1"
          }
        }
  recorded_at: Sun, 12 Mar 2017 22:57:08 GMT
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v3/requests/40146886-11e1-485c-9376-4a08fa929849/status?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "40146886-11e1-485c-9376-4a08fa929849/status",
          "type" : "request-status",
          "href" : "https://api.profitbricks.com/cloudapi/v3/requests/40146886-11e1-485c-9376-4a08fa929849/status",
          "metadata" : {
            "status" : "QUEUED",
            "message" : "Request has been queued",
            "etag" : "9df29ce7ca629ff1d47bca1149d9faae",
            "targets" : [ {
              "target" : {
                "id" : "6a15c509-a4b6-45a0-b935-a99369c4bfd4",
                "type" : "firewall-rule",
                "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/93f0668b-bd35-43a0-a0e6-da4bf7915943/servers/e658538c-88a3-4107-9eef-c37b6b32221b/nics/c53516ae-f28f-4fb1-ad1b-6bb4385fee62/firewallrules/6a15c509-a4b6-45a0-b935-a99369c4bfd4"
              },
              "status" : "QUEUED"
            } ]
          }
        }
  recorded_at: Sun, 12 Mar 2017 22:57:09 GMT
[...]
