---
http_interactions:
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/images/?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "images",
          "type" : "collection",
          "href" : "https://api.profitbricks.com/cloudapi/v4/images",
          "items" : [ {
            "id" : "19556107-46b5-11e7-9645-525400f64d8d",
            "type" : "image",
            "href" : "https://api.profitbricks.com/cloudapi/v4/images/19556107-46b5-11e7-9645-525400f64d8d",
            "metadata" : {
              "createdDate" : "2017-06-01T10:28:48Z",
              "createdBy" : "System",
              "etag" : "8e18080038756295cba0dcf4a2b6c8b6",
              "lastModifiedDate" : "2017-06-01T10:28:48Z",
              "lastModifiedBy" : "System",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "grml64-full_2017.05.iso",
              "description" : "",
              "location" : "de/fkb",
              "size" : 0.58,
              "cpuHotPlug" : true,
              "cpuHotUnplug" : false,
              "ramHotPlug" : true,
              "ramHotUnplug" : false,
              "nicHotPlug" : true,
              "nicHotUnplug" : true,
              "discVirtioHotPlug" : true,
              "discVirtioHotUnplug" : true,
              "discScsiHotPlug" : false,
              "discScsiHotUnplug" : false,
              "licenceType" : "LINUX",
              "imageType" : "CDROM",
              "imageAliases" : [ ],
              "public" : true
            }
          }, {
            "id" : "bd60d91b-a75c-11e7-90a7-525400f64d8d",
            "type" : "image",
            "href" : "https://api.profitbricks.com/cloudapi/v4/images/bd60d91b-a75c-11e7-90a7-525400f64d8d",
            "metadata" : {
              "createdDate" : "2017-10-02T10:30:41Z",
              "createdBy" : "System",
              "etag" : "b42859505138c0a39b4013c752027728",
              "lastModifiedDate" : "2017-10-02T10:30:41Z",
              "lastModifiedBy"[...]
