---
http_interactions:
- request:
    method: post
    uri: https://api.profitbricks.com/cloudapi/v4/ipblocks?depth=1
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"Puppet Module Test","size":2,"location":"us/las"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - https://api.profitbricks.com/cloudapi/v4/requests/bc18647a-8b61-4142-909e-d05d566059b0/status
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "268fa49a-bed5-405b-aeba-2a414b1675af",
          "type" : "ipblock",
          "href" : "https://api.profitbricks.com/cloudapi/v4/ipblocks/268fa49a-bed5-405b-aeba-2a414b1675af",
          "metadata" : {
            "createdDate" : "2017-11-06T20:54:29Z",
            "createdBy" : "username",
            "etag" : "6b41fab526836694b67e1594cbc82952",
            "lastModifiedDate" : "2017-11-06T20:54:29Z",
            "lastModifiedBy" : "username",
            "state" : "BUSY"
          },
          "properties" : {
            "ips" : [ "208.94.36.99", "208.94.36.101" ],
            "location" : "us/las",
            "size" : 2,
            "name" : "Puppet Module Test"
          }
        }
  recorded_at: Mon, 06 Nov 2017 20:54:30 GMT
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/requests/bc18647a-8b61-4142-909e-d05d566059b0?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "bc18647a-8b61-4142-909e-d05d566059b0",
          "type" : "request",
          "href" : "https://api.profitbricks.com/cloudapi/v4/requests/bc18647a-8b61-4142-909e-d05d566059b0",
          "metadata" : {
            "createdDate" : "2017-11-06T20:54:30Z",
            "createdBy" : "username",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "requestStatus" : {
              "id" : "bc18647a-8b61-4142-909e-d05d566059b0/status",
              "type" : "request-status",
              "href" : "https://api.profitbricks.com/cloudapi/v4/requests/bc18647a-8b61-4142-909e-d05d566059b0/status",
              "metadata" : {
                "status" : "DONE",
                "message" : "Request has been successfully executed",
                "etag" : "2ba22e58ca17bb728d522bba36cf8350",
                "targets" : [ {
                  "target" : {
                    "id" : "268fa49a-bed5-405b-aeba-2a414b1675af",
                    "type" : "ipblock",
                    "href" : "TO_BE_INJECTED"
                  },
                  "status" : "DONE"
                } ]
              }
            }
          },
          "properties" : {
            "method" : "POST",
            "headers" : {
              "content-type" : "application/json",
              "x-reseller" : "pb.domain"
            },
            "body" : "{\"properties\":{\"name\":\"Puppet Module Test\",\"size\":2,\"location\":\"us/las\"}}",
            "url" : "https://api.profitbricks.com/cloudapi/v4/ipblocks?depth=1?depth=1"
          }
        }
  recorded_at: Mon, 06 Nov 2017 20:54:31 GMT
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/requests/bc18647a-8b61-4142-909e-d05d566059b0/status?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "bc18647a-8b61-4142-909e-d05d566059b0/status",
          "type" : "request-status",
          "href" : "https://api.profitbricks.com/cloudapi/v4/requests/bc18647a-8b61-4142-909e-d05d566059b0/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "268fa49a-bed5-405b-aeba-2a414b1675af",
                "type" : "ipblock",
                "href" : "TO_BE_INJECTED"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Mon, 06 Nov 2017 20:54:33 GMT
[...]
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/requests/bc18647a-8b61-4142-909e-d05d566059b0/status?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "bc18647a-8b61-4142-909e-d05d566059b0/status",
          "type" : "request-status",
          "href" : "https://api.profitbricks.com/cloudapi/v4/requests/bc18647a-8b61-4142-909e-d05d566059b0/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "268fa49a-bed5-405b-aeba-2a414b1675af",
                "type" : "ipblock",
                "href" : "TO_BE_INJECTED"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Mon, 06 Nov 2017 20:54:36 GMT
recorded_with: VCR 3.0.3
