---
http_interactions:
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/ipblocks?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "ipblocks",
          "type" : "collection",
          "href" : "https://api.profitbricks.com/cloudapi/v4/ipblocks",
          "items" : [ {
            "id" : "268fa49a-bed5-405b-aeba-2a414b1675af",
            "type" : "ipblock",
            "href" : "https://api.profitbricks.com/cloudapi/v4/ipblocks/268fa49a-bed5-405b-aeba-2a414b1675af",
            "metadata" : {
              "createdDate" : "2017-11-06T20:54:29Z",
              "createdBy" : "username",
              "etag" : "634555d852b12204fc3266cfa3d425e5",
              "lastModifiedDate" : "2017-11-06T20:54:29Z",
              "lastModifiedBy" : "username",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "ips" : [ "208.94.36.99", "208.94.36.101" ],
              "location" : "us/las",
              "size" : 2,
              "name" : "Puppet Module Test"
            }
          } ]
        }
  recorded_at: Mon, 06 Nov 2017 20:54:38 GMT
recorded_with: VCR 3.0.3
