---
http_interactions:
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters",
          "items" : [ {
            "id" : "b9c6cb26-6100-4ba3-803a-caf75267068a",
            "type" : "datacenter",
            "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a",
            "metadata" : {
              "createdDate" : "2017-11-04T20:49:22Z",
              "createdBy" : "username",
              "etag" : "740f4e98e719f82cd0990d5b39fc170d",
              "lastModifiedDate" : "2017-11-06T15:04:25Z",
              "lastModifiedBy" : "username",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "Puppet Module Test",
              "description" : null,
              "location" : "us/las",
              "version" : 8,
              "features" : [ "SSD", "MULTIPLE_CPU" ],
              "secAuthProtection" : false
            },
            "entities" : {
              "servers" : {
                "id" : "b9c6cb26-6100-4ba3-803a-caf75267068a/servers",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/servers"
              },
              "volumes" : {
                "id" : "b9c6cb26-6100-4ba3-803a-caf75267068a/volumes",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/volumes"
              },
              "loadbalancers" : {
                "id" : "b9c6cb26-6100-4ba3-803a-caf75267068a/loadbalancers",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/loadbalancers"
              },
              "lans" : {
                "id" : "b9c6cb26-6100-4ba3-803a-caf75267068a/lans",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/lans"
              }
            }
          } ]
        }
  recorded_at: Mon, 06 Nov 2017 15:19:58 GMT
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/lans?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "b9c6cb26-6100-4ba3-803a-caf75267068a/lans",
          "type" : "collection",
          "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/lans",
          "items" : [ {
            "id" : "2",
            "type" : "lan",
            "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/lans/2",
            "metadata" : {
              "createdDate" : "2017-11-06T15:19:48Z",
              "createdBy" : "username",
              "etag" : "39af9529ff2a54fe5445585121f97abd",
              "lastModifiedDate" : "2017-11-06T15:19:48Z",
              "lastModifiedBy" : "username",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "Puppet Module Test 2",
              "ipFailover" : [ ],
              "public" : true
            },
            "entities" : {
              "nics" : {
                "id" : "2/nics",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/lans/2/nics"
              }
            }
          }, {
            "id" : "1",
            "type" : "lan",
            "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/lans/1",
            "metadata" : {
              "createdDate" : "2017-11-06T15:19:34Z",
              "createdBy" : "username",
              "etag" : "a23c80cfeae53c5b742f936f8911b526",
              "lastModifiedDate" : "2017-11-06T15:19:34Z",
              "lastModifiedBy" : "username",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "Puppet Module Test",
              "ipFailover" : [ ],
              "public" : false
            },
            "entities" : {
              "nics" : {
                "id" : "1/nics",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/lans/1/nics"
              }
            }
          } ]
        }
  recorded_at: Mon, 06 Nov 2017 15:19:59 GMT
- request:
    method: patch
    uri: https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/lans/2?depth=1
    body:
      encoding: UTF-8
      string: '{"public":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - https://api.profitbricks.com/cloudapi/v4/requests/f51484b6-d517-4c5e-94fc-7d21b4fa3b66/status
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "2",
          "type" : "lan",
          "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/lans/2",
          "metadata" : {
            "createdDate" : "2017-11-06T15:19:48Z",
            "createdBy" : "username",
            "etag" : "c7446fc0cccdcfa6c01917663006a03f",
            "lastModifiedDate" : "2017-11-06T15:20:04Z",
            "lastModifiedBy" : "username",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "Puppet Module Test 2",
            "ipFailover" : [ ],
            "public" : false
          },
          "entities" : {
            "nics" : {
              "id" : "2/nics",
              "type" : "collection",
              "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/lans/2/nics",
              "items" : [ ]
            }
          }
        }
  recorded_at: Mon, 06 Nov 2017 15:20:04 GMT
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/requests/f51484b6-d517-4c5e-94fc-7d21b4fa3b66?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "f51484b6-d517-4c5e-94fc-7d21b4fa3b66",
          "type" : "request",
          "href" : "https://api.profitbricks.com/cloudapi/v4/requests/f51484b6-d517-4c5e-94fc-7d21b4fa3b66",
          "metadata" : {
            "createdDate" : "2017-11-06T15:20:02Z",
            "createdBy" : "username",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "requestStatus" : {
              "id" : "f51484b6-d517-4c5e-94fc-7d21b4fa3b66/status",
              "type" : "request-status",
              "href" : "https://api.profitbricks.com/cloudapi/v4/requests/f51484b6-d517-4c5e-94fc-7d21b4fa3b66/status",
              "metadata" : {
                "status" : "DONE",
                "message" : "Request has been successfully executed",
                "etag" : "2ba22e58ca17bb728d522bba36cf8350",
                "targets" : [ {
                  "target" : {
                    "id" : "2",
                    "type" : "lan",
                    "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/lans/2"
                  },
                  "status" : "DONE"
                } ]
              }
            }
          },
          "properties" : {
            "method" : "PATCH",
            "headers" : {
              "content-type" : "application/json",
              "x-reseller" : "pb.domain"
            },
            "body" : "{\"public\":false}",
            "url" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/lans/2?depth=1?depth=1"
          }
        }
  recorded_at: Mon, 06 Nov 2017 15:20:06 GMT
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/requests/f51484b6-d517-4c5e-94fc-7d21b4fa3b66/status?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "f51484b6-d517-4c5e-94fc-7d21b4fa3b66/status",
          "type" : "request-status",
          "href" : "https://api.profitbricks.com/cloudapi/v4/requests/f51484b6-d517-4c5e-94fc-7d21b4fa3b66/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "2",
                "type" : "lan",
                "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/lans/2"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Mon, 06 Nov 2017 15:20:07 GMT
[...]
