---
http_interactions:
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v3/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters",
          "items" : [ {
            "id" : "6c2134f7-3789-40ab-b465-939214119b22",
            "type" : "datacenter",
            "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22",
            "metadata" : {
              "createdDate" : "2017-04-20T15:16:27Z",
              "createdBy" : "username",
              "etag" : "940805e779c7d0a04f0a80021958519a",
              "lastModifiedDate" : "2017-04-20T15:16:27Z",
              "lastModifiedBy" : "username",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "dummydc",
              "description" : null,
              "location" : "us/las",
              "version" : 1,
              "features" : [ "SSD", "MULTIPLE_CPU" ]
            },
            "entities" : {
              "servers" : {
                "id" : "6c2134f7-3789-40ab-b465-939214119b22/servers",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22/servers"
              },
              "volumes" : {
                "id" : "6c2134f7-3789-40ab-b465-939214119b22/volumes",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22/volumes"
              },
              "loadbalancers" : {
                "id" : "6c2134f7-3789-40ab-b465-939214119b22/loadbalancers",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22/loadbalancers"
              },
              "lans" : {
                "id" : "6c2134f7-3789-40ab-b465-939214119b22/lans",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22/lans"
              }
            }
          } ]
        }
  recorded_at: Thu, 20 Apr 2017 15:18:37 GMT
- request:
    method: post
    uri: https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22/lans?depth=1
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"lan1","public":"false"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - https://api.profitbricks.com/cloudapi/v3/requests/880d45db-ec0c-4c33-a944-9e3058481409/status
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "1",
          "type" : "lan",
          "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22/lans/1",
          "metadata" : {
            "createdDate" : "2017-04-20T15:18:44Z",
            "createdBy" : "username",
            "etag" : "9100967beaf2a518b6835a2644f3f7d2",
            "lastModifiedDate" : "2017-04-20T15:18:44Z",
            "lastModifiedBy" : "username",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "lan1",
            "public" : false
          }
        }
  recorded_at: Thu, 20 Apr 2017 15:18:37 GMT
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v3/requests/880d45db-ec0c-4c33-a944-9e3058481409?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "880d45db-ec0c-4c33-a944-9e3058481409",
          "type" : "request",
          "href" : "https://api.profitbricks.com/cloudapi/v3/requests/880d45db-ec0c-4c33-a944-9e3058481409",
          "metadata" : {
            "createdDate" : "2017-04-20T15:18:44Z",
            "createdBy" : "username",
            "etag" : "37a6259cc0c1dae299a7866489dff0bd",
            "requestStatus" : {
              "id" : "880d45db-ec0c-4c33-a944-9e3058481409/status",
              "type" : "request-status",
              "href" : "https://api.profitbricks.com/cloudapi/v3/requests/880d45db-ec0c-4c33-a944-9e3058481409/status"
            }
          },
          "properties" : {
            "method" : "POST",
            "headers" : {
              "content-type" : "application/json",
              "x-reseller" : "pb.domain"
            },
            "body" : "{\"properties\":{\"name\":\"lan1\",\"public\":\"false\"}}",
            "url" : "https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22/lans?depth=1?depth=1"
          }
        }
  recorded_at: Thu, 20 Apr 2017 15:18:37 GMT
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v3/requests/880d45db-ec0c-4c33-a944-9e3058481409/status?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "880d45db-ec0c-4c33-a944-9e3058481409/status",
          "type" : "request-status",
          "href" : "https://api.profitbricks.com/cloudapi/v3/requests/880d45db-ec0c-4c33-a944-9e3058481409/status",
          "metadata" : {
            "status" : "RUNNING",
            "message" : "Request is running",
            "etag" : "43491564ebcfd38568918efbd6e840fd",
            "targets" : [ {
              "target" : {
                "id" : "1",
                "type" : "lan",
                "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22/lans/1"
              },
              "status" : "RUNNING"
            } ]
          }
        }
  recorded_at: Thu, 20 Apr 2017 15:18:38 GMT
[...]
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v3/requests/880d45db-ec0c-4c33-a944-9e3058481409/status?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "880d45db-ec0c-4c33-a944-9e3058481409/status",
          "type" : "request-status",
          "href" : "https://api.profitbricks.com/cloudapi/v3/requests/880d45db-ec0c-4c33-a944-9e3058481409/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "1",
                "type" : "lan",
                "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22/lans/1"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Thu, 20 Apr 2017 15:18:40 GMT
recorded_with: VCR 3.0.3
