---
http_interactions:
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters",
          "items" : [ {
            "id" : "b9c6cb26-6100-4ba3-803a-caf75267068a",
            "type" : "datacenter",
            "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a",
            "metadata" : {
              "createdDate" : "2017-11-04T20:49:22Z",
              "createdBy" : "username",
              "etag" : "740f4e98e719f82cd0990d5b39fc170d",
              "lastModifiedDate" : "2017-11-06T15:04:25Z",
              "lastModifiedBy" : "username",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "Puppet Module Test",
              "description" : null,
              "location" : "us/las",
              "version" : 7,
              "features" : [ "SSD", "MULTIPLE_CPU" ],
              "secAuthProtection" : false
            },
            "entities" : {
              "servers" : {
                "id" : "b9c6cb26-6100-4ba3-803a-caf75267068a/servers",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/servers"
              },
              "volumes" : {
                "id" : "b9c6cb26-6100-4ba3-803a-caf75267068a/volumes",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/volumes"
              },
              "loadbalancers" : {
                "id" : "b9c6cb26-6100-4ba3-803a-caf75267068a/loadbalancers",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/loadbalancers"
              },
              "lans" : {
                "id" : "b9c6cb26-6100-4ba3-803a-caf75267068a/lans",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/lans"
              }
            }
          } ]
        }
  recorded_at: Mon, 06 Nov 2017 15:19:44 GMT
- request:
    method: post
    uri: https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/lans?depth=1
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"Puppet Module Test 2","public":"true"},"entities":{}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - https://api.profitbricks.com/cloudapi/v4/requests/8a50130a-6197-4ee4-a757-eb6ac405d151/status
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "2",
          "type" : "lan",
          "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/lans/2",
          "metadata" : {
            "createdDate" : "2017-11-06T15:19:46Z",
            "createdBy" : "username",
            "etag" : "fc4dea64ea102f31c95ee12d2507dbe9",
            "lastModifiedDate" : "2017-11-06T15:19:46Z",
            "lastModifiedBy" : "username",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "Puppet Module Test 2",
            "ipFailover" : null,
            "public" : true
          },
          "entities" : { }
        }
  recorded_at: Mon, 06 Nov 2017 15:19:46 GMT
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/requests/8a50130a-6197-4ee4-a757-eb6ac405d151?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "8a50130a-6197-4ee4-a757-eb6ac405d151",
          "type" : "request",
          "href" : "https://api.profitbricks.com/cloudapi/v4/requests/8a50130a-6197-4ee4-a757-eb6ac405d151",
          "metadata" : {
            "createdDate" : "2017-11-06T15:19:45Z",
            "createdBy" : "username",
            "etag" : "43491564ebcfd38568918efbd6e840fd",
            "requestStatus" : {
              "id" : "8a50130a-6197-4ee4-a757-eb6ac405d151/status",
              "type" : "request-status",
              "href" : "https://api.profitbricks.com/cloudapi/v4/requests/8a50130a-6197-4ee4-a757-eb6ac405d151/status",
              "metadata" : {
                "status" : "RUNNING",
                "message" : "Request is running",
                "etag" : "43491564ebcfd38568918efbd6e840fd",
                "targets" : [ {
                  "target" : {
                    "id" : "2",
                    "type" : "lan",
                    "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/lans/2"
                  },
                  "status" : "RUNNING"
                } ]
              }
            }
          },
          "properties" : {
            "method" : "POST",
            "headers" : {
              "content-type" : "application/json",
              "x-reseller" : "pb.domain"
            },
            "body" : "{\"properties\":{\"name\":\"Puppet Module Test 2\",\"public\":\"true\"},\"entities\":{}}",
            "url" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/lans?depth=1?depth=1"
          }
        }
  recorded_at: Mon, 06 Nov 2017 15:19:48 GMT
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/requests/8a50130a-6197-4ee4-a757-eb6ac405d151/status?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "8a50130a-6197-4ee4-a757-eb6ac405d151/status",
          "type" : "request-status",
          "href" : "https://api.profitbricks.com/cloudapi/v4/requests/8a50130a-6197-4ee4-a757-eb6ac405d151/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "2",
                "type" : "lan",
                "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/lans/2"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Mon, 06 Nov 2017 15:19:50 GMT
[...]
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/requests/8a50130a-6197-4ee4-a757-eb6ac405d151/status?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "8a50130a-6197-4ee4-a757-eb6ac405d151/status",
          "type" : "request-status",
          "href" : "https://api.profitbricks.com/cloudapi/v4/requests/8a50130a-6197-4ee4-a757-eb6ac405d151/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "2",
                "type" : "lan",
                "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/lans/2"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Mon, 06 Nov 2017 15:19:52 GMT
recorded_with: VCR 3.0.3
