---
http_interactions:
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/locations?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "locations",
          "type" : "collection",
          "href" : "https://api.profitbricks.com/cloudapi/v4/locations",
          "items" : [ {
            "id" : "de/fkb",
            "type" : "location",
            "href" : "https://api.profitbricks.com/cloudapi/v4/locations/de/fkb",
            "properties" : {
              "name" : "karlsruhe",
              "features" : [ "SSD", "MULTIPLE_CPU" ],
              "imageAliases" : [ "centos:6_iso", "opensuse:latest", "opensuse:42.3_iso", "debian:8_iso", "centos:7", "centos:7_iso", "clonezilla:latest_iso", "fedora:25_iso", "grml:latest_iso", "opensuse:13.2_iso", "debian:9", "debian:latest", "opensuse:42.2_iso", "fedora:25", "fedora:latest", "windows:2008r2", "windows:latest", "ubuntu:14.04_iso", "ubuntu:17.04_iso", "zenloadbalancer:latest_iso", "mssql:2012_trial_iso", "windows:virtiodriver_iso", "windows:2008r2_iso", "windows:2012r2_iso", "windows:2013_recovery_iso", "win[...]
