---
http_interactions:
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v3/datacenters?depth=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters",
          "items" : [ {
            "id" : "6c2134f7-3789-40ab-b465-939214119b22",
            "type" : "datacenter",
            "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22",
            "metadata" : {
              "createdDate" : "2017-04-20T15:16:27Z",
              "createdBy" : "username",
              "etag" : "6b55bf38a03ca228de28e465c5f710ec",
              "lastModifiedDate" : "2017-04-20T18:20:36Z",
              "lastModifiedBy" : "username",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "dummydc",
              "description" : null,
              "location" : "us/las",
              "version" : 23,
              "features" : [ "SSD", "MULTIPLE_CPU" ]
            },
            "entities" : {
              "servers" : {
                "id" : "6c2134f7-3789-40ab-b465-939214119b22/servers",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22/servers"
              },
              "volumes" : {
                "id" : "6c2134f7-3789-40ab-b465-939214119b22/volumes",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22/volumes"
              },
              "loadbalancers" : {
                "id" : "6c2134f7-3789-40ab-b465-939214119b22/loadbalancers",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22/loadbalancers"
              },
              "lans" : {
                "id" : "6c2134f7-3789-40ab-b465-939214119b22/lans",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22/lans"
              }
            }
          } ]
        }
  recorded_at: Thu, 20 Apr 2017 18:31:17 GMT
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22/servers?depth=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
    [...]
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22/servers/23fe65bf-8bbc-443a-87e2-1419a1976a0a/nics?depth=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
 [...]
- request:
    method: patch
    uri: https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22/servers/23fe65bf-8bbc-443a-87e2-1419a1976a0a/nics/6fae4136-6bc2-4353-a453-23d290ce809a?depth=5
    body:
      encoding: UTF-8
      string: '{"dhcp":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - https://api.profitbricks.com/cloudapi/v3/requests/596c8d29-d6d9-4584-9eec-9618f26090ca/status
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "6fae4136-6bc2-4353-a453-23d290ce809a",
          "type" : "nic",
          "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22/servers/23fe65bf-8bbc-443a-87e2-1419a1976a0a/nics/6fae4136-6bc2-4353-a453-23d290ce809a",
          "metadata" : {
            "createdDate" : "2017-04-20T18:20:36Z",
            "createdBy" : "username",
            "etag" : "606baade7b5a58fc60c0f4cdec8650bb",
            "lastModifiedDate" : "2017-04-20T18:31:27Z",
            "lastModifiedBy" : "username",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "testnic",
            "mac" : "02:01:eb:4c:e2:40",
            "ips" : [ "10.12.124.11" ],
            "dhcp" : false,
            "lan" : 1,
            "firewallActive" : true,
            "nat" : false
          },
          "entities" : {
            "firewallrules" : {
              "id" : "6fae4136-6bc2-4353-a453-23d290ce809a/firewallrules",
              "type" : "collection",
              "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22/servers/23fe65bf-8bbc-443a-87e2-1419a1976a0a/nics/6fae4136-6bc2-4353-a453-23d290ce809a/firewallrules",
              "items" : [ ]
            }
          }
        }
  recorded_at: Thu, 20 Apr 2017 18:31:20 GMT
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v3/requests/596c8d29-d6d9-4584-9eec-9618f26090ca?depth=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "596c8d29-d6d9-4584-9eec-9618f26090ca",
          "type" : "request",
          "href" : "https://api.profitbricks.com/cloudapi/v3/requests/596c8d29-d6d9-4584-9eec-9618f26090ca",
          "metadata" : {
            "createdDate" : "2017-04-20T18:31:25Z",
            "createdBy" : "username",
            "etag" : "37a6259cc0c1dae299a7866489dff0bd",
            "requestStatus" : {
              "id" : "596c8d29-d6d9-4584-9eec-9618f26090ca/status",
              "type" : "request-status",
              "href" : "https://api.profitbricks.com/cloudapi/v3/requests/596c8d29-d6d9-4584-9eec-9618f26090ca/status"
            }
          },
          "properties" : {
            "method" : "PATCH",
            "headers" : {
              "content-type" : "application/json",
              "x-reseller" : "pb.domain"
            },
            "body" : "{\"dhcp\":false}",
            "url" : "https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22/servers/23fe65bf-8bbc-443a-87e2-1419a1976a0a/nics/6fae4136-6bc2-4353-a453-23d290ce809a?depth=5?depth=5"
          }
        }
  recorded_at: Thu, 20 Apr 2017 18:31:20 GMT
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v3/requests/596c8d29-d6d9-4584-9eec-9618f26090ca/status?depth=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "596c8d29-d6d9-4584-9eec-9618f26090ca/status",
          "type" : "request-status",
          "href" : "https://api.profitbricks.com/cloudapi/v3/requests/596c8d29-d6d9-4584-9eec-9618f26090ca/status",
          "metadata" : {
            "status" : "RUNNING",
            "message" : "Request is running",
            "etag" : "43491564ebcfd38568918efbd6e840fd",
            "targets" : [ {
              "target" : {
                "id" : "6fae4136-6bc2-4353-a453-23d290ce809a",
                "type" : "nic",
                "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22/servers/23fe65bf-8bbc-443a-87e2-1419a1976a0a/nics/6fae4136-6bc2-4353-a453-23d290ce809a"
              },
              "status" : "RUNNING"
            } ]
          }
        }
  recorded_at: Thu, 20 Apr 2017 18:31:20 GMT
[...]
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22/lans?depth=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "6c2134f7-3789-40ab-b465-939214119b22/lans",
          "type" : "collection",
          "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22/lans",
          "items" : [ {
            "id" : "2",
            "type" : "lan",
            "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22/lans/2",
            "metadata" : {
              "createdDate" : "2017-04-20T18:12:55Z",
              "createdBy" : "username",
              "etag" : "af7693237b1651c03b7810aad9518c69",
              "lastModifiedDate" : "2017-04-20T18:12:55Z",
              "lastModifiedBy" : "username",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "lan2",
              "public" : true
            },
            "entities" : {
              "nics" : {
                "id" : "2/nics",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22/lans/2/nics",
                "items" : [ ]
              }
            }
          }, {
            "id" : "1",
            "type" : "lan",
            "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22/lans/1",
            "metadata" : {
              "creat[...]
[...]
