---
http_interactions:
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/datacenters?depth=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters",
          "items" : [ {
            "id" : "b9c6cb26-6100-4ba3-803a-caf75267068a",
            "type" : "datacenter",
            "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a",
            "metadata" : {
              "createdDate" : "2017-11-04T20:49:22Z",
              "createdBy" : "username",
              "etag" : "6558805fcd9cbdb7a9365a1ae2adfdf8",
              "lastModifiedDate" : "2017-11-06T20:59:17Z",
              "lastModifiedBy" : "username",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "Puppet Module Test",
              "description" : null,
              "location" : "us/las",
              "version" : 22,
              "features" : [ "SSD", "MULTIPLE_CPU" ],
              "secAuthProtection" : false
            },
            "entities" : {
              "servers" : {
                "id" : "b9c6cb26-6100-4ba3-803a-caf75267068a/servers",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/servers"
              },
              "volumes" : {
                "id" : "b9c6cb26-6100-4ba3-803a-caf75267068a/volumes",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/volumes"
              },
              "loadbalancers" : {
                "id" : "b9c6cb26-6100-4ba3-803a-caf75267068a/loadbalancers",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/loadbalancers"
              },
              "lans" : {
                "id" : "b9c6cb26-6100-4ba3-803a-caf75267068a/lans",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/lans"
              }
            }
          } ]
        }
  recorded_at: Mon, 06 Nov 2017 21:00:10 GMT
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/servers?depth=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
    [...]
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/servers/63e8dc33-9c14-40f5-88fe-b3b5f657259a/nics?depth=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
 [...]
- request:
    method: patch
    uri: https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/servers/63e8dc33-9c14-40f5-88fe-b3b5f657259a/nics/3dbebccd-6be2-4428-9bec-52add9d645b8?depth=5
    body:
      encoding: UTF-8
      string: '{"dhcp":false}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - https://api.profitbricks.com/cloudapi/v4/requests/544942c3-2745-4198-b532-a01888b6ab61/status
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "3dbebccd-6be2-4428-9bec-52add9d645b8",
          "type" : "nic",
          "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/servers/63e8dc33-9c14-40f5-88fe-b3b5f657259a/nics/3dbebccd-6be2-4428-9bec-52add9d645b8",
          "metadata" : {
            "createdDate" : "2017-11-06T20:59:17Z",
            "createdBy" : "username",
            "etag" : "0a8fdeed23bc63dee257e3f77c2d9622",
            "lastModifiedDate" : "2017-11-06T21:00:20Z",
            "lastModifiedBy" : "username",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "Puppet Module Test",
            "mac" : "02:01:a6:1d:88:5a",
            "ips" : [ "10.9.172.11" ],
            "dhcp" : false,
            "lan" : 1,
            "firewallActive" : true,
            "nat" : false
          },
          "entities" : {
            "firewallrules" : {
              "id" : "3dbebccd-6be2-4428-9bec-52add9d645b8/firewallrules",
              "type" : "collection",
              "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/servers/63e8dc33-9c14-40f5-88fe-b3b5f657259a/nics/3dbebccd-6be2-4428-9bec-52add9d645b8/firewallrules",
              "items" : [ ]
            }
          }
        }
  recorded_at: Mon, 06 Nov 2017 21:00:20 GMT
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/requests/544942c3-2745-4198-b532-a01888b6ab61?depth=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "544942c3-2745-4198-b532-a01888b6ab61",
          "type" : "request",
          "href" : "https://api.profitbricks.com/cloudapi/v4/requests/544942c3-2745-4198-b532-a01888b6ab61",
          "metadata" : {
            "createdDate" : "2017-11-06T21:00:18Z",
            "createdBy" : "username",
            "etag" : "43491564ebcfd38568918efbd6e840fd",
            "requestStatus" : {
              "id" : "544942c3-2745-4198-b532-a01888b6ab61/status",
              "type" : "request-status",
              "href" : "https://api.profitbricks.com/cloudapi/v4/requests/544942c3-2745-4198-b532-a01888b6ab61/status",
              "metadata" : {
                "status" : "RUNNING",
                "message" : "Request is running",
                "etag" : "43491564ebcfd38568918efbd6e840fd",
                "targets" : [ {
                  "target" : {
                    "id" : "3dbebccd-6be2-4428-9bec-52add9d645b8",
                    "type" : "nic",
                    "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/servers/63e8dc33-9c14-40f5-88fe-b3b5f657259a/nics/3dbebccd-6be2-4428-9bec-52add9d645b8"
                  },
                  "status" : "RUNNING"
                } ]
              }
            }
          },
          "properties" : {
            "method" : "PATCH",
            "headers" : {
              "content-type" : "application/json",
              "x-reseller" : "pb.domain"
            },
            "body" : "{\"dhcp\":false}",
            "url" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/servers/63e8dc33-9c14-40f5-88fe-b3b5f657259a/nics/3dbebccd-6be2-4428-9bec-52add9d645b8?depth=5?depth=5"
          }
        }
  recorded_at: Mon, 06 Nov 2017 21:00:22 GMT
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/requests/544942c3-2745-4198-b532-a01888b6ab61/status?depth=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "544942c3-2745-4198-b532-a01888b6ab61/status",
          "type" : "request-status",
          "href" : "https://api.profitbricks.com/cloudapi/v4/requests/544942c3-2745-4198-b532-a01888b6ab61/status",
          "metadata" : {
            "status" : "RUNNING",
            "message" : "Request is running",
            "etag" : "43491564ebcfd38568918efbd6e840fd",
            "targets" : [ {
              "target" : {
                "id" : "3dbebccd-6be2-4428-9bec-52add9d645b8",
                "type" : "nic",
                "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/servers/63e8dc33-9c14-40f5-88fe-b3b5f657259a/nics/3dbebccd-6be2-4428-9bec-52add9d645b8"
              },
              "status" : "RUNNING"
            } ]
          }
        }
  recorded_at: Mon, 06 Nov 2017 21:00:24 GMT
[...]
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/lans?depth=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "b9c6cb26-6100-4ba3-803a-caf75267068a/lans",
          "type" : "collection",
          "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/lans",
          "items" : [ {
            "id" : "1",
            "type" : "lan",
            "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/lans/1",
            "metadata" : {
              "createdDate" : "2017-11-06T15:19:34Z",
              "createdBy" : "username",
              "etag" : "a23c80cfeae53c5b742f936f8911b526",
              "lastModifiedDate" : "2017-11-06T15:19:34Z",
              "lastModifiedBy" : "username",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "Puppet Module Test",
              "ipFailover" : [ ],
              "public" : false
            },
            "entities" : {
              "nics" : {
                "id" : "1/nics",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/lans/1/nics",
                "items" : [ {
                  "id" : "3dbebccd-6be2-4428-9bec-52add9d645b8",
                  "type" : "nic",
                  "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/servers/63e8dc33-9c14-40f5-88fe-b3b5f657259a/nic[...]
[...]
