---
http_interactions:
- request:
    method: post
    uri: https://api.profitbricks.com/cloudapi/v4/um/users?depth=5
    body:
      encoding: UTF-8
      string: '{"properties":{"firstname":"John","lastname":"Doe","email":"john.doe_002@example.com","password":"Secrete.Password.001","administrator":"true","forceSecAuth":"false"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - https://api.profitbricks.com/cloudapi/v4/requests/7a21dbbc-a5a3-41f0-865b-503b9b0f8bc3/status
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "d78ee6a8-bbbf-48c2-90fa-0b0cfd056239",
          "type" : "user",
          "href" : "https://api.profitbricks.com/cloudapi/v4/um/users/d78ee6a8-bbbf-48c2-90fa-0b0cfd056239",
          "metadata" : {
            "etag" : "37a6259cc0c1dae299a7866489dff0bd",
            "creationDate" : "2017-11-06T22:16:29Z",
            "lastLogin" : null
          },
          "properties" : {
            "firstname" : "John",
            "lastname" : "Doe",
            "email" : "john.doe_002@example.com",
            "administrator" : true,
            "forceSecAuth" : false,
            "secAuthActive" : false
          }
        }
  recorded_at: Mon, 06 Nov 2017 22:16:28 GMT
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/requests/7a21dbbc-a5a3-41f0-865b-503b9b0f8bc3?depth=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "7a21dbbc-a5a3-41f0-865b-503b9b0f8bc3",
          "type" : "request",
          "href" : "https://api.profitbricks.com/cloudapi/v4/requests/7a21dbbc-a5a3-41f0-865b-503b9b0f8bc3",
          "metadata" : {
            "createdDate" : "2017-11-06T22:16:26Z",
            "createdBy" : "username",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "requestStatus" : {
              "id" : "7a21dbbc-a5a3-41f0-865b-503b9b0f8bc3/status",
              "type" : "request-status",
              "href" : "https://api.profitbricks.com/cloudapi/v4/requests/7a21dbbc-a5a3-41f0-865b-503b9b0f8bc3/status",
              "metadata" : {
                "status" : "DONE",
                "message" : "Request has been successfully executed",
                "etag" : "2ba22e58ca17bb728d522bba36cf8350",
                "targets" : [ {
                  "target" : {
                    "id" : "d78ee6a8-bbbf-48c2-90fa-0b0cfd056239",
                    "type" : "user",
                    "href" : "https://api.profitbricks.com/cloudapi/v4/um/users/d78ee6a8-bbbf-48c2-90fa-0b0cfd056239"
                  },
                  "status" : "DONE"
                } ]
              }
            }
          },
          "properties" : {
            "method" : "POST",
            "headers" : {
              "content-type" : "application/json",
              "x-reseller" : "pb.domain"
            },
            "body" : "{\"properties\":{\"firstname\":\"John\",\"lastname\":\"Doe\",\"email\":\"john.doe_002@example.com\",\"password\":\"Secrete.Password.001\",\"administrator\":\"true\",\"forceSecAuth\":\"false\"}}",
            "url" : "https://api.profitbricks.com/cloudapi/v4/um/users?depth=5?depth=5"
          }
        }
  recorded_at: Mon, 06 Nov 2017 22:16:30 GMT
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/requests/7a21dbbc-a5a3-41f0-865b-503b9b0f8bc3/status?depth=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "7a21dbbc-a5a3-41f0-865b-503b9b0f8bc3/status",
          "type" : "request-status",
          "href" : "https://api.profitbricks.com/cloudapi/v4/requests/7a21dbbc-a5a3-41f0-865b-503b9b0f8bc3/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "d78ee6a8-bbbf-48c2-90fa-0b0cfd056239",
                "type" : "user",
                "href" : "https://api.profitbricks.com/cloudapi/v4/um/users/d78ee6a8-bbbf-48c2-90fa-0b0cfd056239"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Mon, 06 Nov 2017 22:16:31 GMT
[...]
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/requests/7a21dbbc-a5a3-41f0-865b-503b9b0f8bc3/status?depth=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "7a21dbbc-a5a3-41f0-865b-503b9b0f8bc3/status",
          "type" : "request-status",
          "href" : "https://api.profitbricks.com/cloudapi/v4/requests/7a21dbbc-a5a3-41f0-865b-503b9b0f8bc3/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "d78ee6a8-bbbf-48c2-90fa-0b0cfd056239",
                "type" : "user",
                "href" : "https://api.profitbricks.com/cloudapi/v4/um/users/d78ee6a8-bbbf-48c2-90fa-0b0cfd056239"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Mon, 06 Nov 2017 22:16:34 GMT
recorded_with: VCR 3.0.3
