---
http_interactions:
- request:
    method: post
    uri: https://api.profitbricks.com/cloudapi/v4/um/groups/?depth=5
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"Puppet Module Test","createDataCenter":"true","createSnapshot":"true","reserveIp":"true","accessActivityLog":"true"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - https://api.profitbricks.com/cloudapi/v4/requests/4a349b27-044b-4ac7-9d21-b90505587dd6/status
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "b903838d-6384-4b81-b682-695068e50e48",
          "type" : "group",
          "href" : "https://api.profitbricks.com/cloudapi/v4/um/groups/b903838d-6384-4b81-b682-695068e50e48",
          "properties" : {
            "name" : "Puppet Module Test",
            "createDataCenter" : true,
            "createSnapshot" : true,
            "reserveIp" : true,
            "accessActivityLog" : true
          }
        }
  recorded_at: Mon, 06 Nov 2017 21:36:58 GMT
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/requests/4a349b27-044b-4ac7-9d21-b90505587dd6?depth=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "4a349b27-044b-4ac7-9d21-b90505587dd6",
          "type" : "request",
          "href" : "https://api.profitbricks.com/cloudapi/v4/requests/4a349b27-044b-4ac7-9d21-b90505587dd6",
          "metadata" : {
            "createdDate" : "2017-11-06T21:36:58Z",
            "createdBy" : "username",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "requestStatus" : {
              "id" : "4a349b27-044b-4ac7-9d21-b90505587dd6/status",
              "type" : "request-status",
              "href" : "https://api.profitbricks.com/cloudapi/v4/requests/4a349b27-044b-4ac7-9d21-b90505587dd6/status",
              "metadata" : {
                "status" : "DONE",
                "message" : "Request has been successfully executed",
                "etag" : "2ba22e58ca17bb728d522bba36cf8350",
                "targets" : [ {
                  "target" : {
                    "id" : "b903838d-6384-4b81-b682-695068e50e48",
                    "type" : "group",
                    "href" : "https://api.profitbricks.com/cloudapi/v4/um/groups/b903838d-6384-4b81-b682-695068e50e48"
                  },
                  "status" : "DONE"
                } ]
              }
            }
          },
          "properties" : {
            "method" : "POST",
            "headers" : {
              "content-type" : "application/json",
              "x-reseller" : "pb.domain"
            },
            "body" : "{\"properties\":{\"name\":\"Puppet Module Test\",\"createDataCenter\":\"true\",\"createSnapshot\":\"true\",\"reserveIp\":\"true\",\"accessActivityLog\":\"true\"}}",
            "url" : "https://api.profitbricks.com/cloudapi/v4/um/groups/?depth=5?depth=5"
          }
        }
  recorded_at: Mon, 06 Nov 2017 21:37:00 GMT
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/requests/4a349b27-044b-4ac7-9d21-b90505587dd6/status?depth=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "4a349b27-044b-4ac7-9d21-b90505587dd6/status",
          "type" : "request-status",
          "href" : "https://api.profitbricks.com/cloudapi/v4/requests/4a349b27-044b-4ac7-9d21-b90505587dd6/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "b903838d-6384-4b81-b682-695068e50e48",
                "type" : "group",
                "href" : "https://api.profitbricks.com/cloudapi/v4/um/groups/b903838d-6384-4b81-b682-695068e50e48"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Mon, 06 Nov 2017 21:37:02 GMT
[...]
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/requests/4a349b27-044b-4ac7-9d21-b90505587dd6/status?depth=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "4a349b27-044b-4ac7-9d21-b90505587dd6/status",
          "type" : "request-status",
          "href" : "https://api.profitbricks.com/cloudapi/v4/requests/4a349b27-044b-4ac7-9d21-b90505587dd6/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "b903838d-6384-4b81-b682-695068e50e48",
                "type" : "group",
                "href" : "https://api.profitbricks.com/cloudapi/v4/um/groups/b903838d-6384-4b81-b682-695068e50e48"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Mon, 06 Nov 2017 21:37:06 GMT
recorded_with: VCR 3.0.3
