---
http_interactions:
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/um/users/d78ee6a8-bbbf-48c2-90fa-0b0cfd056239?depth=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "d78ee6a8-bbbf-48c2-90fa-0b0cfd056239",
          "type" : "user",
          "href" : "https://api.profitbricks.com/cloudapi/v4/um/users/d78ee6a8-bbbf-48c2-90fa-0b0cfd056239",
          "metadata" : {
            "etag" : "37a6259cc0c1dae299a7866489dff0bd",
            "creationDate" : "2017-11-06T22:16:27Z",
            "lastLogin" : null
          },
          "properties" : {
            "firstname" : "John",
            "lastname" : "Doe",
            "email" : "john.doe_002@example.com",
            "administrator" : false,
            "forceSecAuth" : false,
            "secAuthActive" : false
          },
          "entities" : {
            "owns" : {
              "id" : "d78ee6a8-bbbf-48c2-90fa-0b0cfd056239/owns",
              "type" : "collection",
              "href" : "https://api.profitbricks.com/cloudapi/v4/um/users/d78ee6a8-bbbf-48c2-90fa-0b0cfd056239/owns",
              "items" : [ ]
            },
            "groups" : {
              "id" : "d78ee6a8-bbbf-48c2-90fa-0b0cfd056239/groups",
              "type" : "collection",
              "href" : "https://api.profitbricks.com/cloudapi/v4/um/users/d78ee6a8-bbbf-48c2-90fa-0b0cfd056239/groups",
              "items" : [ ]
            }
          }
        }
  recorded_at: Mon, 06 Nov 2017 22:59:23 GMT
- request:
    method: delete
    uri: https://api.profitbricks.com/cloudapi/v4/um/users/d78ee6a8-bbbf-48c2-90fa-0b0cfd056239?depth=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - https://api.profitbricks.com/cloudapi/v4/requests/b83e6d57-a81f-403c-b662-497648dfbf74/status
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Mon, 06 Nov 2017 22:59:31 GMT
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/requests/b83e6d57-a81f-403c-b662-497648dfbf74?depth=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "b83e6d57-a81f-403c-b662-497648dfbf74",
          "type" : "request",
          "href" : "https://api.profitbricks.com/cloudapi/v4/requests/b83e6d57-a81f-403c-b662-497648dfbf74",
          "metadata" : {
            "createdDate" : "2017-11-06T22:59:28Z",
            "createdBy" : "username",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "requestStatus" : {
              "id" : "b83e6d57-a81f-403c-b662-497648dfbf74/status",
              "type" : "request-status",
              "href" : "https://api.profitbricks.com/cloudapi/v4/requests/b83e6d57-a81f-403c-b662-497648dfbf74/status",
              "metadata" : {
                "status" : "DONE",
                "message" : "Request has been successfully executed",
                "etag" : "2ba22e58ca17bb728d522bba36cf8350",
                "targets" : [ {
                  "target" : {
                    "id" : "d78ee6a8-bbbf-48c2-90fa-0b0cfd056239",
                    "type" : "user",
                    "href" : "https://api.profitbricks.com/cloudapi/v4/um/users/d78ee6a8-bbbf-48c2-90fa-0b0cfd056239"
                  },
                  "status" : "DONE"
                } ]
              }
            }
          },
          "properties" : {
            "method" : "DELETE",
            "headers" : {
              "content-type" : "application/json",
              "x-reseller" : "pb.domain"
            },
            "body" : null,
            "url" : "https://api.profitbricks.com/cloudapi/v4/um/users/d78ee6a8-bbbf-48c2-90fa-0b0cfd056239?depth=5?depth=5"
          }
        }
  recorded_at: Mon, 06 Nov 2017 22:59:32 GMT
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/requests/b83e6d57-a81f-403c-b662-497648dfbf74/status?depth=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "b83e6d57-a81f-403c-b662-497648dfbf74/status",
          "type" : "request-status",
          "href" : "https://api.profitbricks.com/cloudapi/v4/requests/b83e6d57-a81f-403c-b662-497648dfbf74/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "d78ee6a8-bbbf-48c2-90fa-0b0cfd056239",
                "type" : "user",
                "href" : "https://api.profitbricks.com/cloudapi/v4/um/users/d78ee6a8-bbbf-48c2-90fa-0b0cfd056239"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Mon, 06 Nov 2017 22:59:34 GMT
[...]
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/requests/b83e6d57-a81f-403c-b662-497648dfbf74/status?depth=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "b83e6d57-a81f-403c-b662-497648dfbf74/status",
          "type" : "request-status",
          "href" : "https://api.profitbricks.com/cloudapi/v4/requests/b83e6d57-a81f-403c-b662-497648dfbf74/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "d78ee6a8-bbbf-48c2-90fa-0b0cfd056239",
                "type" : "user",
                "href" : "https://api.profitbricks.com/cloudapi/v4/um/users/d78ee6a8-bbbf-48c2-90fa-0b0cfd056239"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Mon, 06 Nov 2017 22:59:37 GMT
recorded_with: VCR 3.0.3
