---
http_interactions:
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v3/datacenters?depth=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters",
          "items" : [ {
            "id" : "6c2134f7-3789-40ab-b465-939214119b22",
            "type" : "datacenter",
            "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22",
            "metadata" : {
              "createdDate" : "2017-04-20T15:16:27Z",
              "createdBy" : "username",
              "etag" : "4c45e43ab412e4345b61bbe9efeaf76a",
              "lastModifiedDate" : "2017-04-20T15:27:17Z",
              "lastModifiedBy" : "username",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "dummydc",
              "description" : null,
              "location" : "us/las",
              "version" : 16,
              "features" : [ "SSD", "MULTIPLE_CPU" ]
            },
            "entities" : {
              "servers" : {
                "id" : "6c2134f7-3789-40ab-b465-939214119b22/servers",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22/servers"
              },
              "volumes" : {
                "id" : "6c2134f7-3789-40ab-b465-939214119b22/volumes",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22/volumes"
              },
              "loadbalancers" : {
                "id" : "6c2134f7-3789-40ab-b465-939214119b22/loadbalancers",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22/loadbalancers"
              },
              "lans" : {
                "id" : "6c2134f7-3789-40ab-b465-939214119b22/lans",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22/lans"
              }
            }
          } ]
        }
  recorded_at: Thu, 20 Apr 2017 17:44:37 GMT
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22/servers?depth=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
    [...]
- request:
    method: post
    uri: https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22/servers/be2c970f-5b53-4f9d-af65-8001c08a3bb7/reboot?depth=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - https://api.profitbricks.com/cloudapi/v3/requests/66f3ed4e-2304-4a32-a15e-c4ffb5b93cc5/status
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 20 Apr 2017 17:44:37 GMT
recorded_with: VCR 3.0.3
