---
http_interactions:
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v3/datacenters?depth=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters",
          "items" : [ {
            "id" : "6c2134f7-3789-40ab-b465-939214119b22",
            "type" : "datacenter",
            "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22",
            "metadata" : {
              "createdDate" : "2017-04-20T15:16:27Z",
              "createdBy" : "username",
              "etag" : "cd9d4e82d9aa2d32662e6ed4894e3cf9",
              "lastModifiedDate" : "2017-04-20T15:23:22Z",
              "lastModifiedBy" : "username",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "dummydc",
              "description" : null,
              "location" : "us/las",
              "version" : 10,
              "features" : [ "SSD", "MULTIPLE_CPU" ]
            },
            "entities" : {
              "servers" : {
                "id" : "6c2134f7-3789-40ab-b465-939214119b22/servers",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22/servers"
              },
              "volumes" : {
                "id" : "6c2134f7-3789-40ab-b465-939214119b22/volumes",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22/volumes"
              },
              "loadbalancers" : {
                "id" : "6c2134f7-3789-40ab-b465-939214119b22/loadbalancers",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22/loadbalancers"
              },
              "lans" : {
                "id" : "6c2134f7-3789-40ab-b465-939214119b22/lans",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22/lans"
              }
            }
          } ]
        }
  recorded_at: Thu, 20 Apr 2017 15:23:24 GMT
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22/lans?depth=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "6c2134f7-3789-40ab-b465-939214119b22/lans",
          "type" : "collection",
          "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22/lans",
          "items" : [ {
            "id" : "1",
            "type" : "lan",
            "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22/lans/1",
            "metadata" : {
              "createdDate" : "2017-04-20T15:18:45Z",
              "createdBy" : "username",
              "etag" : "c4cd335ebcb7421c411caf94ba50254d",
              "lastModifiedDate" : "2017-04-20T15:18:45Z",
              "lastModifiedBy" : "username",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "lan1",
              "public" : false
            },
            "entities" : {
              "nics" : {
                "id" : "1/nics",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22/lans/1/nics",
                "items" : [ ]
              }
            }
          } ]
        }
  recorded_at: Thu, 20 Apr 2017 15:23:24 GMT
[...]
- request:
    method: post
    uri: https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22/servers?depth=3
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"testserver2","cores":1,"cpuFamily":"INTEL_XEON","ram":1024,"availabilityZone":"AUTO"},"entities":{"volumes":{"items":[{"properties":{"name":"vol1","size":100,"bus":"VIRTIO","type":"SSD","imagePassword":"ghGhghgHGGghgh7GHjjuuyt655656hvvh67hg7gt","availabilityZone":"AUTO","image":"5f207036-169c-11e7-97ce-525400f64d8d"}},{"properties":{"name":"vol2","size":100,"bus":"VIRTIO","type":"SSD","imagePassword":"ghGhghgHGGghgh7GHjjuuyt655656hvvh67hg7gt","availabilityZone":"AUTO","image":"816bce4a-169a-11e7-97ce-525400f64d8d"}}]},"nics":{"items":[{"properties":{"name":"nic1","ips":null,"dhcp":true,"lan":"1","nat":false},"entities":{"firewallrules":null}}]}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - https://api.profitbricks.com/cloudapi/v3/requests/a1cd486d-0927-4101-9862-2dc4921fb8ba/status
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "be2c970f-5b53-4f9d-af65-8001c08a3bb7",
          "type" : "server",
          "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22/servers/be2c970f-5b53-4f9d-af65-8001c08a3bb7",
          "metadata" : {
            "createdDate" : "2017-04-20T15:23:32Z",
            "createdBy" : "username",
            "etag" : "2d5235b9ce22bd73565d72ebf878962b",
            "lastModifiedDate" : "2017-04-20T15:23:32Z",
            "lastModifiedBy" : "username",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "testserver2",
            "cores" : 1,
            "ram" : 1024,
            "availabilityZone" : "AUTO",
            "vmState" : null,
            "bootCdrom" : null,
            "bootVolume" : null,
            "cpuFamily" : "INTEL_XEON"
          },
          "entities" : {
            "volumes" : {
              "id" : "be2c970f-5b53-4f9d-af65-8001c08a3bb7/volumes",
              "type" : "collection",
              "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22/servers/be2c970f-5b53-4f9d-af65-8001c08a3bb7/volumes",
              "items" : [ {
                "id" : "5259731c-8c4a-4aa9-9854-d5cd102dec13",
                "type" : "volume",
                "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/be2c970f-5b53-4f9d-af65-8001c08a3bb7/volumes/5259731c-8c4a-4aa9-9854-d5cd102dec13",
                "metadata" : {
                  "createdDate" : "2017-04-20T15:23:32Z",
                  "createdBy" : "username",
                  "etag" : "2d5235b9ce22bd73565d72ebf878962b",
                  "lastModifiedDate" : "2017-04-20T15:23:32Z",
                  "lastModifiedBy" : "username",
                  "state" : "BUSY"
                },
                "properties" : {
                  "name" : "vol1",
                  "type" : "SSD",
                  "size" : 100,
                  "availabilityZone" : "AUTO",
                  "image" : "5f207036-169c-11e7-97ce-525400f64d8d",
                  "imagePassword" : "ghGhghgHGGghgh7GHjjuuyt655656hvvh67hg7gt",
                  "sshKeys" : null,
                  "bus" : "VIRTIO",
                  "licenceType" : null,
                  "cpuHotPlug" : false,
                  "cpuHotUnplug" : false,
                  "ramHotPlug" : false,
                  "ramHotUnplug" : false,
                  "nicHotPlug" : false,
                  "nicHotUnplug" : false,
                  "discVirtioHotPlug" : false,
                  "discVirtioHotUnplug" : false,
                  "discScsiHotPlug" : false,
                  "discScsiHotUnplug" : false,
                  "deviceNumber" : null
                }
              }, {
                "id" : "b0e2d3cb-69bf-4a10-a431-c34a8d377850",
                "type" : "volume",
                "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/be2c970f-5b53-4f9d-af65-8001c08a3bb7/volumes/b0e2d3cb-69bf-4a10-a431-c34a8d377850",
                "metadata" : {
                  "createdDate" : "2017-04-20T15:23:32Z",
                  "createdBy" : "username",
                  "etag" : "2d5235b9ce22bd73565d72ebf878962b",
[...]
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v3/requests/a1cd486d-0927-4101-9862-2dc4921fb8ba?depth=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "a1cd486d-0927-4101-9862-2dc4921fb8ba",
          "type" : "request",
          "href" : "https://api.profitbricks.com/cloudapi/v3/requests/a1cd486d-0927-4101-9862-2dc4921fb8ba",
          "metadata" : {
            "createdDate" : "2017-04-20T15:23:32Z",
            "createdBy" : "username",
            "etag" : "37a6259cc0c1dae299a7866489dff0bd",
            "requestStatus" : {
              "id" : "a1cd486d-0927-4101-9862-2dc4921fb8ba/status",
              "type" : "request-status",
              "href" : "https://api.profitbricks.com/cloudapi/v3/requests/a1cd486d-0927-4101-9862-2dc4921fb8ba/status"
            }
          },
          "properties" : {
            "method" : "POST",
            "headers" : {
              "content-type" : "application/json",
              "x-reseller" : "pb.domain"
            },
            "body" : "{\"properties\":{\"name\":\"testserver2\",\"cores\":1,\"cpuFamily\":\"INTEL_XEON\",\"ram\":1024,\"availabilityZone\":\"AUTO\"},\"entities\":{\"volumes\":{\"items\":[{\"properties\":{\"name\":\"vol1\",\"size\":100,\"bus\":\"VIRTIO\",\"type\":\"SSD\",\"imagePassword\":\"ghGhghgHGGghgh7GHjjuuyt655656hvvh67hg7gt\",\"availabilityZone\":\"AUTO\",\"image\":\"5f207036-169c-11e7-97ce-525400f64d8d\"}},{\"properties\":{\"name\":\"vol2\",\"size\":100,\"bus\":\"VIRTIO\",\"type\":\"SSD\",\"imagePassword\":\"ghGhghgHGGghgh7GHjjuuyt655656hvvh67hg7gt\",\"availabilityZone\":\"AUTO\",\"image\":\"816bce4a-169a-11e7-97ce-525400f64d8d\"}}]},\"nics\":{\"items\":[{\"properties\":{\"name\":\"nic1\",\"ips\":null,\"dhcp\":true,\"lan\":\"1\",\"nat\":false},\"entities\":{\"firewallrules\":null}}]}}}",
            "url" : "https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22/servers?depth=3?depth=3"
          }
        }
  recorded_at: Thu, 20 Apr 2017 15:23:26 GMT
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v3/requests/a1cd486d-0927-4101-9862-2dc4921fb8ba/status?depth=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "a1cd486d-0927-4101-9862-2dc4921fb8ba/status",
          "type" : "request-status",
          "href" : "https://api.profitbricks.com/cloudapi/v3/requests/a1cd486d-0927-4101-9862-2dc4921fb8ba/status",
          "metadata" : {
            "status" : "QUEUED",
            "message" : "Request has been queued",
            "etag" : "9df29ce7ca629ff1d47bca1149d9faae",
            "targets" : [ {
              "target" : {
                "id" : "be2c970f-5b53-4f9d-af65-8001c08a3bb7",
                "type" : "server",
                "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22/servers/be2c970f-5b53-4f9d-af65-8001c08a3bb7"
              },
              "status" : "QUEUED"
            }, {
              "target" : {
                "id" : "5259731c-8c4a-4aa9-9854-d5cd102dec13",
                "type" : "volume",
                "href" : "https://api.profit[...]
[...]
