---
http_interactions:
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/datacenters?depth=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters",
          "items" : [ {
            "id" : "b9c6cb26-6100-4ba3-803a-caf75267068a",
            "type" : "datacenter",
            "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a",
            "metadata" : {
              "createdDate" : "2017-11-04T20:49:22Z",
              "createdBy" : "username",
              "etag" : "6f2fadf23de9281920e1cc506c202267",
              "lastModifiedDate" : "2017-11-06T20:33:46Z",
              "lastModifiedBy" : "username",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "Puppet Module Test",
              "description" : null,
              "location" : "us/las",
              "version" : 18,
              "features" : [ "SSD", "MULTIPLE_CPU" ],
              "secAuthProtection" : false
            },
            "entities" : {
              "servers" : {
                "id" : "b9c6cb26-6100-4ba3-803a-caf75267068a/servers",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/servers"
              },
              "volumes" : {
                "id" : "b9c6cb26-6100-4ba3-803a-caf75267068a/volumes",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/volumes"
              },
              "loadbalancers" : {
                "id" : "b9c6cb26-6100-4ba3-803a-caf75267068a/loadbalancers",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/loadbalancers"
              },
              "lans" : {
                "id" : "b9c6cb26-6100-4ba3-803a-caf75267068a/lans",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/lans"
              }
            }
          } ]
        }
  recorded_at: Mon, 06 Nov 2017 20:40:54 GMT
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/servers?depth=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
    [...]
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/servers/332fb1c6-70ab-4512-8f13-4dcc58e49c5f/volumes?depth=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300[...]
- request:
    method: delete
    uri: https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/volumes/618f9186-ca4c-4406-8c2a-0135b0b561d0?depth=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - https://api.profitbricks.com/cloudapi/v4/requests/567a06c9-33df-473d-84a2-d2b659fdddd8/status
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Mon, 06 Nov 2017 20:40:59 GMT
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/requests/567a06c9-33df-473d-84a2-d2b659fdddd8?depth=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "567a06c9-33df-473d-84a2-d2b659fdddd8",
          "type" : "request",
          "href" : "https://api.profitbricks.com/cloudapi/v4/requests/567a06c9-33df-473d-84a2-d2b659fdddd8",
          "metadata" : {
            "createdDate" : "2017-11-06T20:40:59Z",
            "createdBy" : "username",
            "etag" : "9df29ce7ca629ff1d47bca1149d9faae",
            "requestStatus" : {
              "id" : "567a06c9-33df-473d-84a2-d2b659fdddd8/status",
              "type" : "request-status",
              "href" : "https://api.profitbricks.com/cloudapi/v4/requests/567a06c9-33df-473d-84a2-d2b659fdddd8/status",
              "metadata" : {
                "status" : "QUEUED",
                "message" : "Request has been queued",
                "etag" : "9df29ce7ca629ff1d47bca1149d9faae",
                "targets" : [ {
                  "target" : {
                    "id" : "618f9186-ca4c-4406-8c2a-0135b0b561d0",
                    "type" : "volume",
                    "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/volumes/618f9186-ca4c-4406-8c2a-0135b0b561d0"
                  },
                  "status" : "QUEUED"
                } ]
              }
            }
          },
          "properties" : {
            "method" : "DELETE",
            "headers" : {
              "content-type" : "application/json",
              "x-reseller" : "pb.domain"
            },
            "body" : null,
            "url" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/volumes/618f9186-ca4c-4406-8c2a-0135b0b561d0?depth=3?depth=3"
          }
        }
  recorded_at: Mon, 06 Nov 2017 20:41:01 GMT
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/requests/567a06c9-33df-473d-84a2-d2b659fdddd8/status?depth=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "567a06c9-33df-473d-84a2-d2b659fdddd8/status",
          "type" : "request-status",
          "href" : "https://api.profitbricks.com/cloudapi/v4/requests/567a06c9-33df-473d-84a2-d2b659fdddd8/status",
          "metadata" : {
            "status" : "RUNNING",
            "message" : "Request is running",
            "etag" : "43491564ebcfd38568918efbd6e840fd",
            "targets" : [ {
              "target" : {
                "id" : "618f9186-ca4c-4406-8c2a-0135b0b561d0",
                "type" : "volume",
                "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/volumes/618f9186-ca4c-4406-8c2a-0135b0b561d0"
              },
              "status" : "RUNNING"
            } ]
          }
        }
  recorded_at: Mon, 06 Nov 2017 20:41:02 GMT
[...]
- request:
    method: delete
    uri: https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/servers/332fb1c6-70ab-4512-8f13-4dcc58e49c5f?depth=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - https://api.profitbricks.com/cloudapi/v4/requests/159d7b5d-6c5e-42e6-8ce4-a61d3917d569/status
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Mon, 06 Nov 2017 20:42:22 GMT
[...]
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/requests/159d7b5d-6c5e-42e6-8ce4-a61d3917d569/status?depth=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "159d7b5d-6c5e-42e6-8ce4-a61d3917d569/status",
          "type" : "request-status",
          "href" : "https://api.profitbricks.com/cloudapi/v4/requests/159d7b5d-6c5e-42e6-8ce4-a61d3917d569/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "332fb1c6-70ab-4512-8f13-4dcc58e49c5f",
                "type" : "server",
                "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/servers/332fb1c6-70ab-4512-8f13-4dcc58e49c5f"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Mon, 06 Nov 2017 20:42:44 GMT
recorded_with: VCR 3.0.3
