---
http_interactions:
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/datacenters?depth=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters",
          "items" : [ {
            "id" : "b9c6cb26-6100-4ba3-803a-caf75267068a",
            "type" : "datacenter",
            "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a",
            "metadata" : {
              "createdDate" : "2017-11-04T20:49:22Z",
              "createdBy" : "username",
              "etag" : "3483a0464b3b3eb2d88dc8622fa17679",
              "lastModifiedDate" : "2017-11-06T20:24:13Z",
              "lastModifiedBy" : "username",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "Puppet Module Test",
              "description" : null,
              "location" : "us/las",
              "version" : 13,
              "features" : [ "SSD", "MULTIPLE_CPU" ],
              "secAuthProtection" : false
            },
            "entities" : {
              "servers" : {
                "id" : "b9c6cb26-6100-4ba3-803a-caf75267068a/servers",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/servers"
              },
              "volumes" : {
                "id" : "b9c6cb26-6100-4ba3-803a-caf75267068a/volumes",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/volumes"
              },
              "loadbalancers" : {
                "id" : "b9c6cb26-6100-4ba3-803a-caf75267068a/loadbalancers",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/loadbalancers"
              },
              "lans" : {
                "id" : "b9c6cb26-6100-4ba3-803a-caf75267068a/lans",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/lans"
              }
            }
          } ]
        }
  recorded_at: Mon, 06 Nov 2017 20:26:38 GMT
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/servers?depth=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
    [...]
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/servers/332fb1c6-70ab-4512-8f13-4dcc58e49c5f/volumes?depth=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300[...]
- request:
    method: patch
    uri: https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/servers/332fb1c6-70ab-4512-8f13-4dcc58e49c5f?depth=3
    body:
      encoding: UTF-8
      string: '{"bootVolume":{"id":"dc0b8869-0e3a-411e-afa5-aa3b7243de65"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - https://api.profitbricks.com/cloudapi/v4/requests/c6600103-d522-45d1-a6ef-71984f6dcffe/status
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "332fb1c6-70ab-4512-8f13-4dcc58e49c5f",
          "type" : "server",
          "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/servers/332fb1c6-70ab-4512-8f13-4dcc58e49c5f",
          "metadata" : {
            "createdDate" : "2017-11-06T20:17:06Z",
            "createdBy" : "username",
            "etag" : "cf152bef8d50ab56a564a13128c23f68",
            "lastModifiedDate" : "2017-11-06T20:27:01Z",
            "lastModifiedBy" : "username",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "Puppet Module Test 2",
            "cores" : 1,
            "ram" : 1024,
            "availabilityZone" : "AUTO",
            "vmState" : "RUNNING",
            "bootCdrom" : null,
            "bootVolume" : {
              "id" : "dc0b8869-0e3a-411e-afa5-aa3b7243de65",
              "type" : "volume",
              "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/volumes/dc0b8869-0e3a-411e-afa5-aa3b7243de65",
              "metadata" : {
                "createdDate" : "2017-11-06T20:17:06Z",
                "createdBy" : "username",
                "etag" : "476b0bdb1ab40f51f5785e4b04d75fd5",
                "lastModifiedDate" : "2017-11-06T20:17:06Z",
                "lastModifiedBy" : "username",
                "state" : "AVAILABLE"
              },
              "properties" : {
                "name" : "Puppet Module Test 2",
                "type" : "HDD",
                "size" : 10,
                "image" : "34e8ad2e-a65e-11e7-90a7-525400f64d8d",
                "imagePassword" : null,
                "bus" : "VIRTIO",
                "licenceType" : "LINUX",
                "cpuHotPlug" : true,
                "cpuHotUnplug" : false,
                "ramHotPlug" : true,
                "ramHotUnplug" : false,
                "nicHotPlug" : true,
                "nicHotUnplug" : true,
                "discVirtioHotPlug" : true,
                "discVirtioHotUnplug" : true,
                "discScsiHotPlug" : false,
                "discScsiHotUnplug" : false,
                "deviceNumber" : 2
              }
            },
            "cpuFamily" : "INTEL_XEON"
          },
          "entities" : {
            "cdroms" : {
              "id" : "332fb1c6-70ab-4512-8f13-4dcc58e49c5f/cdroms",
              "type" : "collection",
              "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/servers/332fb1c6-70ab-4512-8f13-4dcc58e49c5f/cdroms",
              "items" : [ ]
            },
            "volumes" : {
              "id" : "332fb1c6-70ab-4512-8f13-4dcc58e49c5f/volumes",
              "type" : "collection",
              "href" : "https://api.profitbricks.[...]
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/requests/c6600103-d522-45d1-a6ef-71984f6dcffe?depth=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "c6600103-d522-45d1-a6ef-71984f6dcffe",
          "type" : "request",
          "href" : "https://api.profitbricks.com/cloudapi/v4/requests/c6600103-d522-45d1-a6ef-71984f6dcffe",
          "metadata" : {
            "createdDate" : "2017-11-06T20:26:56Z",
            "createdBy" : "username",
            "etag" : "43491564ebcfd38568918efbd6e840fd",
            "requestStatus" : {
              "id" : "c6600103-d522-45d1-a6ef-71984f6dcffe/status",
              "type" : "request-status",
              "href" : "https://api.profitbricks.com/cloudapi/v4/requests/c6600103-d522-45d1-a6ef-71984f6dcffe/status",
              "metadata" : {
                "status" : "RUNNING",
                "message" : "Request is running",
                "etag" : "43491564ebcfd38568918efbd6e840fd",
                "targets" : [ {
                  "target" : {
                    "id" : "332fb1c6-70ab-4512-8f13-4dcc58e49c5f",
                    "type" : "server",
                    "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/servers/332fb1c6-70ab-4512-8f13-4dcc58e49c5f"
                  },
                  "status" : "RUNNING"
                }, {
                  "target" : {
                    "id" : "dc0b8869-0e3a-411e-afa5-aa3b7243de65",
                    "type" : "volume",
                    "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/volumes/dc0b8869-0e3a-411e-afa5-aa3b7243de65"
                  },
                  "status" : "RUNNING"
                } ]
              }
            }
          },
          "properties" : {
            "method" : "PATCH",
            "headers" : {
              "content-type" : "application/json",
              "x-reseller" : "pb.domain"
            },
            "body" : "{\"bootVolume\":{\"id\":\"dc0b8869-0e3a-411e-afa5-aa3b7243de65\"}}",
            "url" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/servers/332fb1c6-70ab-4512-8f13-4dcc58e49c5f?depth=3?depth=3"
          }
        }
  recorded_at: Mon, 06 Nov 2017 20:27:07 GMT
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/requests/c6600103-d522-45d1-a6ef-71984f6dcffe/status?depth=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Co[...]
[...]
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/servers/332fb1c6-70ab-4512-8f13-4dcc58e49c5f/nics?depth=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
 [...]
[...]
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/servers/63e8dc33-9c14-40f5-88fe-b3b5f657259a/nics?depth=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "63e8dc33-9c14-40f5-88fe-b3b5f657259a/nics",
          "type" : "collection",
          "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/servers/63e8dc33-9c14-40f5-88fe-b3b5f657259a/nics",
          "items" : [ ]
        }
  recorded_at: Mon, 06 Nov 2017 20:27:50 GMT
recorded_with: VCR 3.0.3
