---
http_interactions:
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/datacenters?depth=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters",
          "items" : [ {
            "id" : "b9c6cb26-6100-4ba3-803a-caf75267068a",
            "type" : "datacenter",
            "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a",
            "metadata" : {
              "createdDate" : "2017-11-04T20:49:22Z",
              "createdBy" : "username",
              "etag" : "daf72e34aa9688e675fe14907ba5a511",
              "lastModifiedDate" : "2017-11-06T17:29:09Z",
              "lastModifiedBy" : "username",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "Puppet Module Test",
              "description" : null,
              "location" : "us/las",
              "version" : 11,
              "features" : [ "SSD", "MULTIPLE_CPU" ],
              "secAuthProtection" : false
            },
            "entities" : {
              "servers" : {
                "id" : "b9c6cb26-6100-4ba3-803a-caf75267068a/servers",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/servers"
              },
              "volumes" : {
                "id" : "b9c6cb26-6100-4ba3-803a-caf75267068a/volumes",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/volumes"
              },
              "loadbalancers" : {
                "id" : "b9c6cb26-6100-4ba3-803a-caf75267068a/loadbalancers",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/loadbalancers"
              },
              "lans" : {
                "id" : "b9c6cb26-6100-4ba3-803a-caf75267068a/lans",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/lans"
              }
            }
          } ]
        }
  recorded_at: Mon, 06 Nov 2017 20:16:56 GMT
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/lans?depth=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "b9c6cb26-6100-4ba3-803a-caf75267068a/lans",
          "type" : "collection",
          "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/lans",
          "items" : [ {
            "id" : "1",
            "type" : "lan",
            "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/lans/1",
            "metadata" : {
              "createdDate" : "2017-11-06T15:19:34Z",
              "createdBy" : "username",
              "etag" : "a23c80cfeae53c5b742f936f8911b526",
              "lastModifiedDate" : "2017-11-06T15:19:34Z",
              "lastModifiedBy" : "username",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "Puppet Module Test",
              "ipFailover" : [ ],
              "public" : false
            },
            "entities" : {
              "nics" : {
                "id" : "1/nics",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/lans/1/nics",
                "items" : [ ]
              }
            }
          } ]
        }
  recorded_at: Mon, 06 Nov 2017 20:16:58 GMT
[...]
- request:
    method: post
    uri: https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/servers?depth=3
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"Puppet Module Test 2","cores":1,"cpuFamily":"INTEL_XEON","ram":1024,"availabilityZone":"AUTO"},"entities":{"volumes":{"items":[{"properties":{"name":"Puppet
        Module Test","size":100,"bus":"VIRTIO","type":"SSD","imagePassword":"ghGhghgHGGghgh7GHjjuuyt655656hvvh67hg7gt","availabilityZone":"AUTO","sshKeys":["ssh-rsa
        AAAAB3NzaC1yc2EAAAADAQABAAACAQDaH..."],"image":"1871dd47-a671-11e7-90a7-525400f64d8d"}},{"properties":{"name":"Puppet
        Module Test 2","size":10,"bus":"VIRTIO","type":"HDD","imagePassword":"ghGhghgHGGghgh7GHjjuuyt655656hvvh67hg7gt","availabilityZone":"ZONE_3","image":"34e8ad2e-a65e-11e7-90a7-525400f64d8d"}}]},"nics":{"items":[{"properties":{"name":"Puppet
        Module Test","ips":null,"dhcp":true,"lan":"1","nat":false},"entities":{"firewallrules":{"items":[{"properties":{"name":"SSH","protocol":"TCP","sourceMac":"01:23:45:67:89:00","sourceIp":null,"targetIp":null,"portRangeStart":22,"portRangeEnd":22,"icmpType":null,"icmpCode":null}}]}}}]}}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - https://api.profitbricks.com/cloudapi/v4/requests/69328f69-4883-4eb5-b518-048d861fd053/status
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "332fb1c6-70ab-4512-8f13-4dcc58e49c5f",
          "type" : "server",
          "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/servers/332fb1c6-70ab-4512-8f13-4dcc58e49c5f",
          "metadata" : {
            "createdDate" : "2017-11-06T20:17:03Z",
            "createdBy" : "username",
            "etag" : "c54d348fd962161da8619513cb7b9d53",
            "lastModifiedDate" : "2017-11-06T20:17:03Z",
            "lastModifiedBy" : "username",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "Puppet Module Test 2",
            "cores" : 1,
            "ram" : 1024,
            "availabilityZone" : "AUTO",
            "vmState" : null,
            "bootCdrom" : null,
            "bootVolume" : null,
            "cpuFamily" : "INTEL_XEON"
          },
          "entities" : {
            "volumes" : {
              "id" : "332fb1c6-70ab-4512-8f13-4dcc58e49c5f/volumes",
              "type" : "collection",
              "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/servers/332fb1c6-70ab-4512-8f13-4dcc58e49c5f/volumes",
              "items" : [ {
                "id" : "618f9186-ca4c-4406-8c2a-0135b0b561d0",
                "type" :[...]
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/requests/69328f69-4883-4eb5-b518-048d861fd053?depth=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "69328f69-4883-4eb5-b518-048d861fd053",
          "type" : "request",
          "href" : "https://api.profitbricks.com/cloudapi/v4/requests/69328f69-4883-4eb5-b518-048d861fd053",
          "metadata" : {
            "createdDate" : "2017-11-06T20:17:02Z",
            "createdBy" : "username",
            "etag" : "43491564ebcfd38568918efbd6e840fd",
            "requestStatus" : {
              "id" : "69328f69-4883-4eb5-b518-048d861fd053/status",
              "type" : "request-status",
              "href" : "https://api.profitbricks.com/cloudapi/v4/requests/69328f69-4883-4eb5-b518-048d861fd053/status",
              "metadata" : {
                "status" : "RUNNING",
                "message" : "Request is running",
                "etag" : "43491564ebcfd38568918efbd6e840fd",
                "targets" : [ {
                  "target" : {
                    "id" : "332fb1c6-70ab-4512-8f13-4dcc58e49c5f",
                    "type" : "server",
                    "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/servers/332fb1c6-70ab-4512-8f13-4dcc58e49c5f"
                  },
                  "status" : "RUNNING"
                }, {
                  "target" : {
                    "id" : "618f9186-ca4c-4406-8c2a-0135b0b561d0",
                    "type" : "volume",
       [...]
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/requests/69328f69-4883-4eb5-b518-048d861fd053/status?depth=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Co[...]
[...]
