---
http_interactions:
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/datacenters?depth=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters",
          "items" : [ {
            "id" : "b9c6cb26-6100-4ba3-803a-caf75267068a",
            "type" : "datacenter",
            "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a",
            "metadata" : {
              "createdDate" : "2017-11-04T20:49:22Z",
              "createdBy" : "username",
              "etag" : "1df30af905c6c68caa246311476fd7a8",
              "lastModifiedDate" : "2017-11-06T20:17:06Z",
              "lastModifiedBy" : "username",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "Puppet Module Test",
              "description" : null,
              "location" : "us/las",
              "version" : 12,
              "features" : [ "SSD", "MULTIPLE_CPU" ],
              "secAuthProtection" : false
            },
            "entities" : {
              "servers" : {
                "id" : "b9c6cb26-6100-4ba3-803a-caf75267068a/servers",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/servers"
              },
              "volumes" : {
                "id" : "b9c6cb26-6100-4ba3-803a-caf75267068a/volumes",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/volumes"
              },
              "loadbalancers" : {
                "id" : "b9c6cb26-6100-4ba3-803a-caf75267068a/loadbalancers",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/loadbalancers"
              },
              "lans" : {
                "id" : "b9c6cb26-6100-4ba3-803a-caf75267068a/lans",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/lans"
              }
            }
          } ]
        }
  recorded_at: Mon, 06 Nov 2017 20:24:07 GMT
- request:
    method: post
    uri: https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/servers?depth=3
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"Puppet Module Test","cores":1,"cpuFamily":"AMD_OPTERON","ram":1024,"availabilityZone":"ZONE_1"},"entities":{"volumes":null,"nics":null}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - https://api.profitbricks.com/cloudapi/v4/requests/464548c6-7cae-418f-bf0d-3ba3ba1d8aa9/status
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "63e8dc33-9c14-40f5-88fe-b3b5f657259a",
          "type" : "server",
          "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/servers/63e8dc33-9c14-40f5-88fe-b3b5f657259a",
          "metadata" : {
            "createdDate" : "2017-11-06T20:24:10Z",
            "createdBy" : "username",
            "etag" : "af4e4e18d6c2fcd143b6e4bb85d8bc28",
            "lastModifiedDate" : "2017-11-06T20:24:10Z",
            "lastModifiedBy" : "username",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "Puppet Module Test",
            "cores" : 1,
            "ram" : 1024,
            "availabilityZone" : "ZONE_1",
            "vmState" : null,
            "bootCdrom" : null,
            "bootVolume" : null,
            "cpuFamily" : "AMD_OPTERON"
          },
          "entities" : { }
        }
  recorded_at: Mon, 06 Nov 2017 20:24:10 GMT
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/requests/464548c6-7cae-418f-bf0d-3ba3ba1d8aa9?depth=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "464548c6-7cae-418f-bf0d-3ba3ba1d8aa9",
          "type" : "request",
          "href" : "https://api.profitbricks.com/cloudapi/v4/requests/464548c6-7cae-418f-bf0d-3ba3ba1d8aa9",
          "metadata" : {
            "createdDate" : "2017-11-06T20:24:09Z",
            "createdBy" : "username",
            "etag" : "43491564ebcfd38568918efbd6e840fd",
            "requestStatus" : {
              "id" : "464548c6-7cae-418f-bf0d-3ba3ba1d8aa9/status",
              "type" : "request-status",
              "href" : "https://api.profitbricks.com/cloudapi/v4/requests/464548c6-7cae-418f-bf0d-3ba3ba1d8aa9/status",
              "metadata" : {
                "status" : "RUNNING",
                "message" : "Request is running",
                "etag" : "43491564ebcfd38568918efbd6e840fd",
                "targets" : [ {
                  "target" : {
                    "id" : "63e8dc33-9c14-40f5-88fe-b3b5f657259a",
                    "type" : "server",
                    "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/servers/63e8dc33-9c14-40f5-88fe-b3b5f657259a"
                  },
                  "status" : "RUNNING"
                } ]
              }
            }
          },
          "properties" : {
            "method" : "POST",
            "headers" : {
              "content-type" : "application/json",
              "x-reseller" : "pb.domain"
            },
            "body" : "{\"properties\":{\"name\":\"Puppet Module Test\",\"cores\":1,\"cpuFamily\":\"AMD_OPTERON\",\"ram\":1024,\"availabilityZone\":\"ZONE_1\"},\"entities\":{\"volumes\":null,\"nics\":null}}",
            "url" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/servers?depth=3?depth=3"
          }
        }
  recorded_at: Mon, 06 Nov 2017 20:24:11 GMT
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/requests/464548c6-7cae-418f-bf0d-3ba3ba1d8aa9/status?depth=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "464548c6-7cae-418f-bf0d-3ba3ba1d8aa9/status",
          "type" : "request-status",
          "href" : "https://api.profitbricks.com/cloudapi/v4/requests/464548c6-7cae-418f-bf0d-3ba3ba1d8aa9/status",
          "metadata" : {
            "status" : "RUNNING",
            "message" : "Request is running",
            "etag" : "43491564ebcfd38568918efbd6e840fd",
            "targets" : [ {
              "target" : {
                "id" : "63e8dc33-9c14-40f5-88fe-b3b5f657259a",
                "type" : "server",
                "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/servers/63e8dc33-9c14-40f5-88fe-b3b5f657259a"
              },
              "status" : "RUNNING"
            } ]
          }
        }
  recorded_at: Mon, 06 Nov 2017 20:24:13 GMT
[...]
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/requests/464548c6-7cae-418f-bf0d-3ba3ba1d8aa9/status?depth=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "464548c6-7cae-418f-bf0d-3ba3ba1d8aa9/status",
          "type" : "request-status",
          "href" : "https://api.profitbricks.com/cloudapi/v4/requests/464548c6-7cae-418f-bf0d-3ba3ba1d8aa9/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "63e8dc33-9c14-40f5-88fe-b3b5f657259a",
                "type" : "server",
                "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/servers/63e8dc33-9c14-40f5-88fe-b3b5f657259a"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Mon, 06 Nov 2017 20:24:26 GMT
recorded_with: VCR 3.0.3
