---
http_interactions:
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v3/datacenters?depth=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters",
          "items" : [ {
            "id" : "6c2134f7-3789-40ab-b465-939214119b22",
            "type" : "datacenter",
            "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22",
            "metadata" : {
              "createdDate" : "2017-04-20T15:16:27Z",
              "createdBy" : "username",
              "etag" : "303279dc26ccb60a467ac17976b0d901",
              "lastModifiedDate" : "2017-04-20T15:23:35Z",
              "lastModifiedBy" : "username",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "dummydc",
              "description" : null,
              "location" : "us/las",
              "version" : 11,
              "features" : [ "SSD", "MULTIPLE_CPU" ]
            },
            "entities" : {
              "servers" : {
                "id" : "6c2134f7-3789-40ab-b465-939214119b22/servers",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22/servers"
              },
              "volumes" : {
                "id" : "6c2134f7-3789-40ab-b465-939214119b22/volumes",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22/volumes"
              },
              "loadbalancers" : {
                "id" : "6c2134f7-3789-40ab-b465-939214119b22/loadbalancers",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22/loadbalancers"
              },
              "lans" : {
                "id" : "6c2134f7-3789-40ab-b465-939214119b22/lans",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22/lans"
              }
            }
          } ]
        }
  recorded_at: Thu, 20 Apr 2017 15:25:14 GMT
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22/servers?depth=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
    [...]
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22/servers/be2c970f-5b53-4f9d-af65-8001c08a3bb7/volumes?depth=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300[...]
- request:
    method: patch
    uri: https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22/servers/be2c970f-5b53-4f9d-af65-8001c08a3bb7?depth=3
    body:
      encoding: UTF-8
      string: '{"bootVolume":{"id":"b0e2d3cb-69bf-4a10-a431-c34a8d377850"}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - https://api.profitbricks.com/cloudapi/v3/requests/31fd823d-de06-42fa-9b95-24fa7743081f/status
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "be2c970f-5b53-4f9d-af65-8001c08a3bb7",
          "type" : "server",
          "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22/servers/be2c970f-5b53-4f9d-af65-8001c08a3bb7",
          "metadata" : {
            "createdDate" : "2017-04-20T15:23:35Z",
            "createdBy" : "username",
            "etag" : "da2869552afb13dc122470e92e8e2800",
            "lastModifiedDate" : "2017-04-20T15:25:24Z",
            "lastModifiedBy" : "username",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "testserver2",
            "cores" : 1,
            "ram" : 1024,
            "availabilityZone" : "AUTO",
            "vmState" : "RUNNING",
            "bootCdrom" : null,
            "bootVolume" : {
              "id" : "b0e2d3cb-69bf-4a10-a431-c34a8d377850",
              "type" : "volume",
              "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22/volumes/b0e2d3cb-69bf-4a10-a431-c34a8d377850",
              "metadata" : {
                "createdDate" : "2017-04-20T15:23:35Z",
                "createdBy" : "username",
                "etag" : "303279dc26ccb60a467ac17976b0d901",
                "lastModifiedDate" : "2017-04-20T15:23:35Z",
                "lastModifiedBy" : "username",
                "state" : "AVAILABLE"
              },
              "properties" : {
                "name" : "vol2",
                "type" : "SSD",
                "size" : 100,
                "image" : "816bce4a-169a-11e7-97ce-525400f64d8d",
                "imagePassword" : null,
                "bus" : "VIRTIO",
                "licenceType" : "LINUX",
                "cpuHotPlug" : true,
                "cpuHotUnplug" : false,
                "ramHotPlug" : true,
                "ramHotUnplug" : false,
                "nicHotPlug" : true,
                "nicHotUnplug" : true,
                "discVirtioHotPlug" : true,
                "discVirtioHotUnplug" : true,
                "discScsiHotPlug" : false,
                "discScsiHotUnplug" : false,
                "deviceNumber" : 2
              }
            },
            "cpuFamily" : "INTEL_XEON"
          },
          "entities" : {
            "cdroms" : {
              "id" : "be2c970f-5b53-4f9d-af65-8001c08a3bb7/cdroms",
              "type" : "collection",
              "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22/servers/be2c970f-5b53-4f9d-af65-8001c08a3bb7/cdroms",
              "items" : [ ]
            },
            "volumes" : {
              "id" : "be2c970f-5b53-4f9d-af65-8001c08a3bb7/volumes",
              "type" : "collection",
              "href" : "https://api.profitbricks.[...]
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v3/requests/31fd823d-de06-42fa-9b95-24fa7743081f?depth=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "31fd823d-de06-42fa-9b95-24fa7743081f",
          "type" : "request",
          "href" : "https://api.profitbricks.com/cloudapi/v3/requests/31fd823d-de06-42fa-9b95-24fa7743081f",
          "metadata" : {
            "createdDate" : "2017-04-20T15:25:22Z",
            "createdBy" : "username",
            "etag" : "37a6259cc0c1dae299a7866489dff0bd",
            "requestStatus" : {
              "id" : "31fd823d-de06-42fa-9b95-24fa7743081f/status",
              "type" : "request-status",
              "href" : "https://api.profitbricks.com/cloudapi/v3/requests/31fd823d-de06-42fa-9b95-24fa7743081f/status"
            }
          },
          "properties" : {
            "method" : "PATCH",
            "headers" : {
              "content-type" : "application/json",
              "x-reseller" : "pb.domain"
            },
            "body" : "{\"bootVolume\":{\"id\":\"b0e2d3cb-69bf-4a10-a431-c34a8d377850\"}}",
            "url" : "https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22/servers/be2c970f-5b53-4f9d-af65-8001c08a3bb7?depth=3?depth=3"
          }
        }
  recorded_at: Thu, 20 Apr 2017 15:25:17 GMT
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v3/requests/31fd823d-de06-42fa-9b95-24fa7743081f/status?depth=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "31fd823d-de06-42fa-9b95-24fa7743081f/status",
          "type" : "request-status",
          "href" : "https://api.profitbricks.com/cloudapi/v3/requests/31fd823d-de06-42fa-9b95-24fa7743081f/status",
          "metadata" : {
            "status" : "RUNNING",
            "message" : "Request is running",
            "etag" : "43491564ebcfd38568918efbd6e840fd",
            "targets" : [ {
              "target" : {
                "id" : "be2c970f-5b53-4f9d-af65-8001c08a3bb7",
                "type" : "server",
                "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22/servers/be2c970f-5b53-4f9d-af65-8001c08a3bb7"
              },
              "status" : "RUNNING"
            }, {
              "target" : {
                "id" : "b0e2d3cb-69bf-4a10-a431-c34a8d377850",
                "type" : "volume",
                "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22/volumes/b0e2d3cb-69bf-4a10-a431-c34a8d377850"
              },
              "status" : "RUNNING"
            } ]
          }
        }
  recorded_at: Thu, 20 Apr 2017 15:25:17 GMT
[...]
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22/servers/be2c970f-5b53-4f9d-af65-8001c08a3bb7/nics?depth=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
 [...]
[...]
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22/servers/23fe65bf-8bbc-443a-87e2-1419a1976a0a/nics?depth=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "23fe65bf-8bbc-443a-87e2-1419a1976a0a/nics",
          "type" : "collection",
          "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22/servers/23fe65bf-8bbc-443a-87e2-1419a1976a0a/nics",
          "items" : [ ]
        }
  recorded_at: Thu, 20 Apr 2017 15:25:45 GMT
recorded_with: VCR 3.0.3
