---
http_interactions:
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/um/groups/?depth=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "groups",
          "type" : "collection",
          "href" : "https://api.profitbricks.com/cloudapi/v4/um/groups",
          "items" : [ {
            "id" : "f1ec1ccb-34ed-412d-81ff-29e457c913d4",
            "type" : "group",
            "href" : "https://api.profitbricks.com/cloudapi/v4/um/groups/f1ec1ccb-34ed-412d-81ff-29e457c913d4",
            "properties" : {
              "name" : "cli",
              "createDataCenter" : true,
              "createSnapshot" : true,
              "reserveIp" : true,
              "accessActivityLog" : false
            },
            "entities" : {
              "users" : {
                "id" : "f1ec1ccb-34ed-412d-81ff-29e457c913d4/users",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v4/um/groups/f1ec1ccb-34ed-412d-81ff-29e457c913d4/users",
                "items" : [ ]
              },
              "resources" : {
                "id" : "f1ec1ccb-34ed-412d-81ff-29e457c913d4/resources",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v4/um/groups/f1ec1ccb-34ed-412d-81ff-29e457c913d4/resources",
                "items" : [ ]
              }
            }
          }, {
            "id" : "7fcc6d14-2d81-4bfe-a6dc-939652d2b404",
            "type" : "group",
            "href" : "https://api.profitbricks.com/cloudapi/v4/um/groups/7fcc6d14-2d81-4bfe-a6d[...]
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/um/groups/e1cb1f6d-eea1-409e-b2c0-6cee2a94b5a2/shares?depth=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "e1cb1f6d-eea1-409e-b2c0-6cee2a94b5a2/shares",
          "type" : "collection",
          "href" : "https://api.profitbricks.com/cloudapi/v4/um/groups/e1cb1f6d-eea1-409e-b2c0-6cee2a94b5a2/shares",
          "items" : [ {
            "id" : "0892cc3d-3597-11e5-9b0d-52540066fee9",
            "type" : "resource",
            "href" : "https://api.profitbricks.com/cloudapi/v4/um/groups/e1cb1f6d-eea1-409e-b2c0-6cee2a94b5a2/shares/0892cc3d-3597-11e5-9b0d-52540066fee9",
            "properties" : {
              "editPrivilege" : false,
              "sharePrivilege" : false
            }
          }, {
            "id" : "1f939031-96ff-11e6-9d61-52540005ab80",
            "type" : "resource",
            "href" : "https://api.profitbricks.com/cloudapi/v4/um/groups/e1cb1f6d-eea1-409e-b2c0-6cee2a94b5a2/shares/1f939031-96ff-11e6-9d61-52540005ab80",
            "properties" : {
              "editPrivilege" : false,
              "sharePrivilege" : false
            }
          }, {
            "id" : "2114251c-980b-11e7-90a7-525400f64d8d",
            "type" : [...]
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/um/groups/b903838d-6384-4b81-b682-695068e50e48/shares?depth=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "b903838d-6384-4b81-b682-695068e50e48/shares",
          "type" : "collection",
          "href" : "https://api.profitbricks.com/cloudapi/v4/um/groups/b903838d-6384-4b81-b682-695068e50e48/shares",
          "items" : [ {
            "id" : "b9c6cb26-6100-4ba3-803a-caf75267068a",
            "type" : "resource",
            "href" : "https://api.profitbricks.com/cloudapi/v4/um/groups/b903838d-6384-4b81-b682-695068e50e48/shares/b9c6cb26-6100-4ba3-803a-caf75267068a",
            "properties" : {
              "editPrivilege" : true,
              "sharePrivilege" : true
            }
          } ]
        }
  recorded_at: Mon, 06 Nov 2017 21:55:58 GMT
[...]
