---
http_interactions:
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/snapshots/64a3541d-756d-4136-bd64-49129c5ded19?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "64a3541d-756d-4136-bd64-49129c5ded19",
          "type" : "snapshot",
          "href" : "https://api.profitbricks.com/cloudapi/v4/snapshots/64a3541d-756d-4136-bd64-49129c5ded19",
          "metadata" : {
            "createdDate" : "2017-11-06T14:40:00Z",
            "createdBy" : "username",
            "etag" : "b714db519ddfa31656e10f82405912bb",
            "lastModifiedDate" : "2017-11-06T14:57:43Z",
            "lastModifiedBy" : "username",
            "state" : "AVAILABLE"
          },
          "properties" : {
            "name" : "Puppet Module Test",
            "description" : "Puppet Module test snapshot - RENAME",
            "location" : "us/las",
            "size" : 5,
            "secAuthProtection" : false,
            "cpuHotPlug" : true,
            "cpuHotUnplug" : false,
            "ramHotPlug" : true,
            "ramHotUnplug" : false,
            "nicHotPlug" : true,
            "nicHotUnplug" : true,
            "discVirtioHotPlug" : true,
            "discVirtioHotUnplug" : true,
            "discScsiHotPlug" : false,
            "discScsiHotUnplug" : false,
            "licenceType" : "LINUX"
          }
        }
  recorded_at: Mon, 06 Nov 2017 15:11:58 GMT
- request:
    method: delete
    uri: https://api.profitbricks.com/cloudapi/v4/snapshots/64a3541d-756d-4136-bd64-49129c5ded19?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - https://api.profitbricks.com/cloudapi/v4/requests/4e932b8f-d73c-4837-b6e9-acc726dc3f8b/status
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Mon, 06 Nov 2017 15:12:00 GMT
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/requests/4e932b8f-d73c-4837-b6e9-acc726dc3f8b?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "4e932b8f-d73c-4837-b6e9-acc726dc3f8b",
          "type" : "request",
          "href" : "https://api.profitbricks.com/cloudapi/v4/requests/4e932b8f-d73c-4837-b6e9-acc726dc3f8b",
          "metadata" : {
            "createdDate" : "2017-11-06T15:11:59Z",
            "createdBy" : "username",
            "etag" : "43491564ebcfd38568918efbd6e840fd",
            "requestStatus" : {
              "id" : "4e932b8f-d73c-4837-b6e9-acc726dc3f8b/status",
              "type" : "request-status",
              "href" : "https://api.profitbricks.com/cloudapi/v4/requests/4e932b8f-d73c-4837-b6e9-acc726dc3f8b/status",
              "metadata" : {
                "status" : "RUNNING",
                "message" : "Request is running",
                "etag" : "43491564ebcfd38568918efbd6e840fd",
                "targets" : [ {
                  "target" : {
                    "id" : "64a3541d-756d-4136-bd64-49129c5ded19",
                    "type" : "snapshot",
                    "href" : "https://api.profitbricks.com/cloudapi/v4/snapshots/64a3541d-756d-4136-bd64-49129c5ded19"
                  },
                  "status" : "RUNNING"
                } ]
              }
            }
          },
          "properties" : {
            "method" : "DELETE",
            "headers" : {
              "content-type" : "application/json",
              "x-reseller" : "pb.domain"
            },
            "body" : null,
            "url" : "https://api.profitbricks.com/cloudapi/v4/snapshots/64a3541d-756d-4136-bd64-49129c5ded19?depth=1?depth=1"
          }
        }
  recorded_at: Mon, 06 Nov 2017 15:12:01 GMT
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/requests/4e932b8f-d73c-4837-b6e9-acc726dc3f8b/status?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "4e932b8f-d73c-4837-b6e9-acc726dc3f8b/status",
          "type" : "request-status",
          "href" : "https://api.profitbricks.com/cloudapi/v4/requests/4e932b8f-d73c-4837-b6e9-acc726dc3f8b/status",
          "metadata" : {
            "status" : "RUNNING",
            "message" : "Request is running",
            "etag" : "43491564ebcfd38568918efbd6e840fd",
            "targets" : [ {
              "target" : {
                "id" : "64a3541d-756d-4136-bd64-49129c5ded19",
                "type" : "snapshot",
                "href" : "https://api.profitbricks.com/cloudapi/v4/snapshots/64a3541d-756d-4136-bd64-49129c5ded19"
              },
              "status" : "RUNNING"
            } ]
          }
        }
  recorded_at: Mon, 06 Nov 2017 15:12:03 GMT
[...]
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/requests/4e932b8f-d73c-4837-b6e9-acc726dc3f8b/status?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "4e932b8f-d73c-4837-b6e9-acc726dc3f8b/status",
          "type" : "request-status",
          "href" : "https://api.profitbricks.com/cloudapi/v4/requests/4e932b8f-d73c-4837-b6e9-acc726dc3f8b/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "64a3541d-756d-4136-bd64-49129c5ded19",
                "type" : "snapshot",
                "href" : "https://api.profitbricks.com/cloudapi/v4/snapshots/64a3541d-756d-4136-bd64-49129c5ded19"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Mon, 06 Nov 2017 15:12:09 GMT
recorded_with: VCR 3.0.3
