---
http_interactions:
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v3/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters",
          "items" : [ {
            "id" : "93f0668b-bd35-43a0-a0e6-da4bf7915943",
            "type" : "datacenter",
            "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/93f0668b-bd35-43a0-a0e6-da4bf7915943",
            "metadata" : {
              "createdDate" : "2017-03-12T22:11:22Z",
              "createdBy" : "username",
              "etag" : "8e839d0d46d15a91fdb2f3b13b2595ca",
              "lastModifiedDate" : "2017-03-12T22:11:22Z",
              "lastModifiedBy" : "username",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "dummydc",
              "description" : null,
              "location" : "us/las",
              "version" : 2,
              "features" : [ "SSD", "MULTIPLE_CPU" ]
            },
            "entities" : {
              "servers" : {
                "id" : "93f0668b-bd35-43a0-a0e6-da4bf7915943/servers",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/93f0668b-bd35-43a0-a0e6-da4bf7915943/servers"
              },
              "volumes" : {
                "id" : "93f0668b-bd35-43a0-a0e6-da4bf7915943/volumes",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/93f0668b-bd35-43a0-a0e6-da4bf7915943/volumes"
              },
              "loadbalancers" : {
                "id" : "93f0668b-bd35-43a0-a0e6-da4bf7915943/loadbalancers",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/93f0668b-bd35-43a0-a0e6-da4bf7915943/loadbalancers"
              },
              "lans" : {
                "id" : "93f0668b-bd35-43a0-a0e6-da4bf7915943/lans",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/93f0668b-bd35-43a0-a0e6-da4bf7915943/lans"
              }
            }
          } ]
        }
  recorded_at: Sun, 12 Mar 2017 22:16:25 GMT
- request:
    method: post
    uri: https://api.profitbricks.com/cloudapi/v3/datacenters/93f0668b-bd35-43a0-a0e6-da4bf7915943/volumes?depth=1
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"testvolume","availabilityZone":"AUTO","image":null,"bus":"VIRTIO","type":"HDD","size":50,"licenceType":"LINUX","imagePassword":null,"sshKeys":null}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - https://api.profitbricks.com/cloudapi/v3/requests/2f2f208f-c0fa-4e05-8543-3edbbda6b233/status
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "c0329df1-a5bc-4b81-b533-a549e74a9fd2",
          "type" : "volume",
          "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/93f0668b-bd35-43a0-a0e6-da4bf7915943/volumes/c0329df1-a5bc-4b81-b533-a549e74a9fd2",
          "metadata" : {
            "createdDate" : "2017-03-12T22:16:25Z",
            "createdBy" : "username",
            "etag" : "cd4188582b8ba2335d2b69715f553ad0",
            "lastModifiedDate" : "2017-03-12T22:16:25Z",
            "lastModifiedBy" : "username",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "testvolume",
            "type" : "HDD",
            "size" : 50,
            "availabilityZone" : "AUTO",
            "image" : null,
            "imagePassword" : null,
            "sshKeys" : null,
            "bus" : "VIRTIO",
            "licenceType" : "LINUX",
            "cpuHotPlug" : false,
            "cpuHotUnplug" : false,
            "ramHotPlug" : false,
            "ramHotUnplug" : false,
            "nicHotPlug" : false,
            "nicHotUnplug" : false,
            "discVirtioHotPlug" : false,
            "discVirtioHotUnplug" : false,
            "discScsiHotPlug" : false,
            "discScsiHotUnplug" : false,
            "deviceNumber" : null
          }
        }
  recorded_at: Sun, 12 Mar 2017 22:16:25 GMT
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v3/requests/2f2f208f-c0fa-4e05-8543-3edbbda6b233?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "2f2f208f-c0fa-4e05-8543-3edbbda6b233",
          "type" : "request",
          "href" : "https://api.profitbricks.com/cloudapi/v3/requests/2f2f208f-c0fa-4e05-8543-3edbbda6b233",
          "metadata" : {
            "createdDate" : "2017-03-12T22:16:25Z",
            "createdBy" : "username",
            "etag" : "37a6259cc0c1dae299a7866489dff0bd",
            "requestStatus" : {
              "id" : "2f2f208f-c0fa-4e05-8543-3edbbda6b233/status",
              "type" : "request-status",
              "href" : "https://api.profitbricks.com/cloudapi/v3/requests/2f2f208f-c0fa-4e05-8543-3edbbda6b233/status"
            }
          },
          "properties" : {
            "method" : "POST",
            "headers" : {
              "content-type" : "application/json",
              "x-reseller" : "pb.domain"
            },
            "body" : "{\"properties\":{\"name\":\"testvolume\",\"availabilityZone\":\"AUTO\",\"image\":null,\"bus\":\"VIRTIO\",\"type\":\"HDD\",\"size\":50,\"licenceType\":\"LINUX\",\"imagePassword\":null,\"sshKeys\":null}}",
            "url" : "https://api.profitbricks.com/cloudapi/v3/datacenters/93f0668b-bd35-43a0-a0e6-da4bf7915943/volumes?depth=1?depth=1"
          }
        }
  recorded_at: Sun, 12 Mar 2017 22:16:26 GMT
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v3/requests/2f2f208f-c0fa-4e05-8543-3edbbda6b233/status?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "2f2f208f-c0fa-4e05-8543-3edbbda6b233/status",
          "type" : "request-status",
          "href" : "https://api.profitbricks.com/cloudapi/v3/requests/2f2f208f-c0fa-4e05-8543-3edbbda6b233/status",
          "metadata" : {
            "status" : "QUEUED",
            "message" : "Request has been queued",
            "etag" : "9df29ce7ca629ff1d47bca1149d9faae",
            "targets" : [ {
              "target" : {
                "id" : "c0329df1-a5bc-4b81-b533-a549e74a9fd2",
                "type" : "volume",
                "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/93f0668b-bd35-43a0-a0e6-da4bf7915943/volumes/c0329df1-a5bc-4b81-b533-a549e74a9fd2"
              },
              "status" : "QUEUED"
            } ]
          }
        }
  recorded_at: Sun, 12 Mar 2017 22:16:26 GMT
[...]
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v3/requests/2f2f208f-c0fa-4e05-8543-3edbbda6b233/status?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "2f2f208f-c0fa-4e05-8543-3edbbda6b233/status",
          "type" : "request-status",
          "href" : "https://api.profitbricks.com/cloudapi/v3/requests/2f2f208f-c0fa-4e05-8543-3edbbda6b233/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "c0329df1-a5bc-4b81-b533-a549e74a9fd2",
                "type" : "volume",
                "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/93f0668b-bd35-43a0-a0e6-da4bf7915943/volumes/c0329df1-a5bc-4b81-b533-a549e74a9fd2"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Sun, 12 Mar 2017 22:16:34 GMT
recorded_with: VCR 3.0.3
