---
http_interactions:
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters",
          "items" : [ {
            "id" : "b9c6cb26-6100-4ba3-803a-caf75267068a",
            "type" : "datacenter",
            "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a",
            "metadata" : {
              "createdDate" : "2017-11-04T20:49:22Z",
              "createdBy" : "username",
              "etag" : "19257d22f44de20208957b2060125b31",
              "lastModifiedDate" : "2017-11-06T11:40:36Z",
              "lastModifiedBy" : "username",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "Puppet Module Test",
              "description" : null,
              "location" : "us/las",
              "version" : 2,
              "features" : [ "SSD", "MULTIPLE_CPU" ],
              "secAuthProtection" : false
            },
            "entities" : {
              "servers" : {
                "id" : "b9c6cb26-6100-4ba3-803a-caf75267068a/servers",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/servers"
              },
              "volumes" : {
                "id" : "b9c6cb26-6100-4ba3-803a-caf75267068a/volumes",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/volumes"
              },
              "loadbalancers" : {
                "id" : "b9c6cb26-6100-4ba3-803a-caf75267068a/loadbalancers",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/loadbalancers"
              },
              "lans" : {
                "id" : "b9c6cb26-6100-4ba3-803a-caf75267068a/lans",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/lans"
              }
            }
          } ]
        }
  recorded_at: Mon, 06 Nov 2017 11:42:17 GMT
- request:
    method: post
    uri: https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/volumes?depth=1
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"Puppet Module Test 2","availabilityZone":"AUTO","image":null,"imageAlias":null,"bus":"VIRTIO","type":"SSD","size":100,"licenceType":"WINDOWS2016","imagePassword":null,"sshKeys":null}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - https://api.profitbricks.com/cloudapi/v4/requests/ba6f9a17-4dc5-4b9c-b2ce-43972882cc9d/status
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "fef5b367-f0ad-40aa-ad29-a9ed0e9cc697",
          "type" : "volume",
          "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/volumes/fef5b367-f0ad-40aa-ad29-a9ed0e9cc697",
          "metadata" : {
            "createdDate" : "2017-11-06T11:42:19Z",
            "createdBy" : "username",
            "etag" : "7f87ea0bd9b52e86654dcacef1a655bf",
            "lastModifiedDate" : "2017-11-06T11:42:19Z",
            "lastModifiedBy" : "username",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "Puppet Module Test 2",
            "type" : "SSD",
            "size" : 100,
            "availabilityZone" : "AUTO",
            "image" : null,
            "imagePassword" : null,
            "sshKeys" : null,
            "bus" : "VIRTIO",
            "licenceType" : "WINDOWS2016",
            "cpuHotPlug" : false,
            "cpuHotUnplug" : false,
            "ramHotPlug" : false,
            "ramHotUnplug" : false,
            "nicHotPlug" : false,
            "nicHotUnplug" : false,
            "discVirtioHotPlug" : false,
            "discVirtioHotUnplug" : false,
            "discScsiHotPlug" : false,
            "discScsiHotUnplug" : false,
            "deviceNumber" : null
          }
        }
  recorded_at: Mon, 06 Nov 2017 11:42:19 GMT
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/requests/ba6f9a17-4dc5-4b9c-b2ce-43972882cc9d?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "ba6f9a17-4dc5-4b9c-b2ce-43972882cc9d",
          "type" : "request",
          "href" : "https://api.profitbricks.com/cloudapi/v4/requests/ba6f9a17-4dc5-4b9c-b2ce-43972882cc9d",
          "metadata" : {
            "createdDate" : "2017-11-06T11:42:18Z",
            "createdBy" : "username",
            "etag" : "9df29ce7ca629ff1d47bca1149d9faae",
            "requestStatus" : {
              "id" : "ba6f9a17-4dc5-4b9c-b2ce-43972882cc9d/status",
              "type" : "request-status",
              "href" : "https://api.profitbricks.com/cloudapi/v4/requests/ba6f9a17-4dc5-4b9c-b2ce-43972882cc9d/status",
              "metadata" : {
                "status" : "QUEUED",
                "message" : "Request has been queued",
                "etag" : "9df29ce7ca629ff1d47bca1149d9faae",
                "targets" : [ {
                  "target" : {
                    "id" : "fef5b367-f0ad-40aa-ad29-a9ed0e9cc697",
                    "type" : "volume",
                    "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/volumes/fef5b367-f0ad-40aa-ad29-a9ed0e9cc697"
                  },
                  "status" : "QUEUED"
                } ]
              }
            }
          },
          "properties" : {
            "method" : "POST",
            "headers" : {
              "content-type" : "application/json",
              "x-reseller" : "pb.domain"
            },
            "body" : "{\"properties\":{\"name\":\"Puppet Module Test 2\",\"availabilityZone\":\"AUTO\",\"image\":null,\"imageAlias\":null,\"bus\":\"VIRTIO\",\"type\":\"SSD\",\"size\":100,\"licenceType\":\"WINDOWS2016\",\"imagePassword\":null,\"sshKeys\":null}}",
            "url" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/volumes?depth=1?depth=1"
          }
        }
  recorded_at: Mon, 06 Nov 2017 11:42:21 GMT
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/requests/ba6f9a17-4dc5-4b9c-b2ce-43972882cc9d/status?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "ba6f9a17-4dc5-4b9c-b2ce-43972882cc9d/status",
          "type" : "request-status",
          "href" : "https://api.profitbricks.com/cloudapi/v4/requests/ba6f9a17-4dc5-4b9c-b2ce-43972882cc9d/status",
          "metadata" : {
            "status" : "RUNNING",
            "message" : "Request is running",
            "etag" : "43491564ebcfd38568918efbd6e840fd",
            "targets" : [ {
              "target" : {
                "id" : "fef5b367-f0ad-40aa-ad29-a9ed0e9cc697",
                "type" : "volume",
                "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/volumes/fef5b367-f0ad-40aa-ad29-a9ed0e9cc697"
              },
              "status" : "RUNNING"
            } ]
          }
        }
  recorded_at: Mon, 06 Nov 2017 11:42:22 GMT
[...]
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/requests/ba6f9a17-4dc5-4b9c-b2ce-43972882cc9d/status?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "ba6f9a17-4dc5-4b9c-b2ce-43972882cc9d/status",
          "type" : "request-status",
          "href" : "https://api.profitbricks.com/cloudapi/v4/requests/ba6f9a17-4dc5-4b9c-b2ce-43972882cc9d/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "fef5b367-f0ad-40aa-ad29-a9ed0e9cc697",
                "type" : "volume",
                "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/volumes/fef5b367-f0ad-40aa-ad29-a9ed0e9cc697"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Mon, 06 Nov 2017 11:42:31 GMT
recorded_with: VCR 3.0.3
