---
http_interactions:
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters",
          "items" : [ {
            "id" : "b9c6cb26-6100-4ba3-803a-caf75267068a",
            "type" : "datacenter",
            "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a",
            "metadata" : {
              "createdDate" : "2017-11-04T20:49:22Z",
              "createdBy" : "username",
              "etag" : "292482903e55964d494f5f4ad2d492a7",
              "lastModifiedDate" : "2017-11-04T20:49:22Z",
              "lastModifiedBy" : "username",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "Puppet Module Test",
              "description" : null,
              "location" : "us/las",
              "version" : 1,
              "features" : [ "SSD", "MULTIPLE_CPU" ],
              "secAuthProtection" : false
            },
            "entities" : {
              "servers" : {
                "id" : "b9c6cb26-6100-4ba3-803a-caf75267068a/servers",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/servers"
              },
              "volumes" : {
                "id" : "b9c6cb26-6100-4ba3-803a-caf75267068a/volumes",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/volumes"
              },
              "loadbalancers" : {
                "id" : "b9c6cb26-6100-4ba3-803a-caf75267068a/loadbalancers",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/loadbalancers"
              },
              "lans" : {
                "id" : "b9c6cb26-6100-4ba3-803a-caf75267068a/lans",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/lans"
              }
            }
          } ]
        }
  recorded_at: Mon, 06 Nov 2017 11:40:30 GMT
- request:
    method: post
    uri: https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/volumes?depth=1
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"Puppet Module Test","availabilityZone":"ZONE_3","image":null,"imageAlias":"ubuntu:latest","bus":"VIRTIO","type":"HDD","size":2,"licenceType":null,"imagePassword":null,"sshKeys":["ssh-rsa
        AAAAB3NzaC1yc2EAAAADAQABAAACAQDaH..."]}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - https://api.profitbricks.com/cloudapi/v4/requests/07dd87cb-9d3c-40e1-82d4-0958ddbde05b/status
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "671f73ee-3e17-4547-accd-682f0c758cd9",
          "type" : "volume",
          "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/volumes/671f73ee-3e17-4547-accd-682f0c758cd9",
          "metadata" : {
            "createdDate" : "2017-11-06T11:40:33Z",
            "createdBy" : "username",
            "etag" : "911cc2318d1ee863582681f2d17a35da",
            "lastModifiedDate" : "2017-11-06T11:40:33Z",
            "lastModifiedBy" : "username",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "Puppet Module Test",
            "type" : "HDD",
            "size" : 2,
            "availabilityZone" : "ZONE_3",
            "image" : "1871dd47-a671-11e7-90a7-525400f64d8d",
            "imagePassword" : null,
            "sshKeys" : [ "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDaH..." ],
            "bus" : "VIRTIO",
            "licenceType" : null,
            "cpuHotPlug" : true,
            "cpuHotUnplug" : false,
            "ramHotPlug" : true,
            "ramHotUnplug" : false,
            "nicHotPlug" : true,
            "nicHotUnplug" : true,
            "discVirtioHotPlug" : true,
            "discVirtioHotUnplug" : true,
            "discScsiHotPlug" : false,
            "discScsiHotUnplug" : false,
            "deviceNumber" : null
          }
        }
  recorded_at: Mon, 06 Nov 2017 11:40:33 GMT
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/requests/07dd87cb-9d3c-40e1-82d4-0958ddbde05b?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "07dd87cb-9d3c-40e1-82d4-0958ddbde05b",
          "type" : "request",
          "href" : "https://api.profitbricks.com/cloudapi/v4/requests/07dd87cb-9d3c-40e1-82d4-0958ddbde05b",
          "metadata" : {
            "createdDate" : "2017-11-06T11:40:32Z",
            "createdBy" : "username",
            "etag" : "43491564ebcfd38568918efbd6e840fd",
            "requestStatus" : {
              "id" : "07dd87cb-9d3c-40e1-82d4-0958ddbde05b/status",
              "type" : "request-status",
              "href" : "https://api.profitbricks.com/cloudapi/v4/requests/07dd87cb-9d3c-40e1-82d4-0958ddbde05b/status",
              "metadata" : {
                "status" : "RUNNING",
                "message" : "Request is running",
                "etag" : "43491564ebcfd38568918efbd6e840fd",
                "targets" : [ {
                  "target" : {
                    "id" : "671f73ee-3e17-4547-accd-682f0c758cd9",
                    "type" : "volume",
                    "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/volumes/671f73ee-3e17-4547-accd-682f0c758cd9"
                  },
                  "status" : "RUNNING"
                } ]
              }
            }
          },
          "properties" : {
            "method" : "POST",
            "headers" : {
              "content-type" : "application/json",
              "x-reseller" : "pb.domain"
            },
            "body" : "{\"properties\":{\"name\":\"Puppet Module Test\",\"availabilityZone\":\"ZONE_3\",\"image\":null,\"imageAlias\":\"ubuntu:latest\",\"bus\":\"VIRTIO\",\"type\":\"HDD\",\"size\":2,\"licenceType\":null,\"imagePassword\":null,\"sshKeys\":[\"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDaH...\"]}}",
            "url" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/volumes?depth=1?depth=1"
          }
        }
  recorded_at: Mon, 06 Nov 2017 11:40:34 GMT
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/requests/07dd87cb-9d3c-40e1-82d4-0958ddbde05b/status?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "07dd87cb-9d3c-40e1-82d4-0958ddbde05b/status",
          "type" : "request-status",
          "href" : "https://api.profitbricks.com/cloudapi/v4/requests/07dd87cb-9d3c-40e1-82d4-0958ddbde05b/status",
          "metadata" : {
            "status" : "RUNNING",
            "message" : "Request is running",
            "etag" : "43491564ebcfd38568918efbd6e840fd",
            "targets" : [ {
              "target" : {
                "id" : "671f73ee-3e17-4547-accd-682f0c758cd9",
                "type" : "volume",
                "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/volumes/671f73ee-3e17-4547-accd-682f0c758cd9"
              },
              "status" : "RUNNING"
            } ]
          }
        }
  recorded_at: Mon, 06 Nov 2017 11:40:36 GMT
[...]
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v4/requests/07dd87cb-9d3c-40e1-82d4-0958ddbde05b/status?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "07dd87cb-9d3c-40e1-82d4-0958ddbde05b/status",
          "type" : "request-status",
          "href" : "https://api.profitbricks.com/cloudapi/v4/requests/07dd87cb-9d3c-40e1-82d4-0958ddbde05b/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "671f73ee-3e17-4547-accd-682f0c758cd9",
                "type" : "volume",
                "href" : "https://api.profitbricks.com/cloudapi/v4/datacenters/b9c6cb26-6100-4ba3-803a-caf75267068a/volumes/671f73ee-3e17-4547-accd-682f0c758cd9"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Mon, 06 Nov 2017 11:42:15 GMT
recorded_with: VCR 3.0.3
