---
http_interactions:
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v3/datacenters?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "datacenters",
          "type" : "collection",
          "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters",
          "items" : [ {
            "id" : "6c2134f7-3789-40ab-b465-939214119b22",
            "type" : "datacenter",
            "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22",
            "metadata" : {
              "createdDate" : "2017-04-20T15:16:27Z",
              "createdBy" : "username",
              "etag" : "aebb06069f4c9f001c893a47f1f96dce",
              "lastModifiedDate" : "2017-04-20T15:19:00Z",
              "lastModifiedBy" : "username",
              "state" : "AVAILABLE"
            },
            "properties" : {
              "name" : "dummydc",
              "description" : null,
              "location" : "us/las",
              "version" : 5,
              "features" : [ "SSD", "MULTIPLE_CPU" ]
            },
            "entities" : {
              "servers" : {
                "id" : "6c2134f7-3789-40ab-b465-939214119b22/servers",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22/servers"
              },
              "volumes" : {
                "id" : "6c2134f7-3789-40ab-b465-939214119b22/volumes",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22/volumes"
              },
              "loadbalancers" : {
                "id" : "6c2134f7-3789-40ab-b465-939214119b22/loadbalancers",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22/loadbalancers"
              },
              "lans" : {
                "id" : "6c2134f7-3789-40ab-b465-939214119b22/lans",
                "type" : "collection",
                "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22/lans"
              }
            }
          } ]
        }
  recorded_at: Thu, 20 Apr 2017 15:20:09 GMT
- request:
    method: post
    uri: https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22/volumes?depth=1
    body:
      encoding: UTF-8
      string: '{"properties":{"name":"testvolume","availabilityZone":"AUTO","image":null,"bus":"VIRTIO","type":"HDD","size":50,"licenceType":"LINUX","imagePassword":null,"sshKeys":null}}'
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - https://api.profitbricks.com/cloudapi/v3/requests/f6945fe1-12f8-4bb0-8da6-5ba0bf272b44/status
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Burst:
      - '50'
      X-Ratelimit-Limit:
      - '120'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "67619f64-2f88-4c58-aa52-0ddf3def0e5f",
          "type" : "volume",
          "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22/volumes/67619f64-2f88-4c58-aa52-0ddf3def0e5f",
          "metadata" : {
            "createdDate" : "2017-04-20T15:20:17Z",
            "createdBy" : "username",
            "etag" : "2429123e252ec0d3b9d9245f8078ef10",
            "lastModifiedDate" : "2017-04-20T15:20:17Z",
            "lastModifiedBy" : "username",
            "state" : "BUSY"
          },
          "properties" : {
            "name" : "testvolume",
            "type" : "HDD",
            "size" : 50,
            "availabilityZone" : "AUTO",
            "image" : null,
            "imagePassword" : null,
            "sshKeys" : null,
            "bus" : "VIRTIO",
            "licenceType" : "LINUX",
            "cpuHotPlug" : false,
            "cpuHotUnplug" : false,
            "ramHotPlug" : false,
            "ramHotUnplug" : false,
            "nicHotPlug" : false,
            "nicHotUnplug" : false,
            "discVirtioHotPlug" : false,
            "discVirtioHotUnplug" : false,
            "discScsiHotPlug" : false,
            "discScsiHotUnplug" : false,
            "deviceNumber" : null
          }
        }
  recorded_at: Thu, 20 Apr 2017 15:20:10 GMT
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v3/requests/f6945fe1-12f8-4bb0-8da6-5ba0bf272b44?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "f6945fe1-12f8-4bb0-8da6-5ba0bf272b44",
          "type" : "request",
          "href" : "https://api.profitbricks.com/cloudapi/v3/requests/f6945fe1-12f8-4bb0-8da6-5ba0bf272b44",
          "metadata" : {
            "createdDate" : "2017-04-20T15:20:17Z",
            "createdBy" : "username",
            "etag" : "37a6259cc0c1dae299a7866489dff0bd",
            "requestStatus" : {
              "id" : "f6945fe1-12f8-4bb0-8da6-5ba0bf272b44/status",
              "type" : "request-status",
              "href" : "https://api.profitbricks.com/cloudapi/v3/requests/f6945fe1-12f8-4bb0-8da6-5ba0bf272b44/status"
            }
          },
          "properties" : {
            "method" : "POST",
            "headers" : {
              "content-type" : "application/json",
              "x-reseller" : "pb.domain"
            },
            "body" : "{\"properties\":{\"name\":\"testvolume\",\"availabilityZone\":\"AUTO\",\"image\":null,\"bus\":\"VIRTIO\",\"type\":\"HDD\",\"size\":50,\"licenceType\":\"LINUX\",\"imagePassword\":null,\"sshKeys\":null}}",
            "url" : "https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22/volumes?depth=1?depth=1"
          }
        }
  recorded_at: Thu, 20 Apr 2017 15:20:10 GMT
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v3/requests/f6945fe1-12f8-4bb0-8da6-5ba0bf272b44/status?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "f6945fe1-12f8-4bb0-8da6-5ba0bf272b44/status",
          "type" : "request-status",
          "href" : "https://api.profitbricks.com/cloudapi/v3/requests/f6945fe1-12f8-4bb0-8da6-5ba0bf272b44/status",
          "metadata" : {
            "status" : "QUEUED",
            "message" : "Request has been queued",
            "etag" : "9df29ce7ca629ff1d47bca1149d9faae",
            "targets" : [ {
              "target" : {
                "id" : "67619f64-2f88-4c58-aa52-0ddf3def0e5f",
                "type" : "volume",
                "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22/volumes/67619f64-2f88-4c58-aa52-0ddf3def0e5f"
              },
              "status" : "QUEUED"
            } ]
          }
        }
  recorded_at: Thu, 20 Apr 2017 15:20:11 GMT
[...]
- request:
    method: get
    uri: https://api.profitbricks.com/cloudapi/v3/requests/f6945fe1-12f8-4bb0-8da6-5ba0bf272b44/status?depth=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization: Basic dXNlcm5hbWU6cGFzc3dvcmQ=
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '299'
      X-Ratelimit-Burst:
      - '300'
      X-Ratelimit-Limit:
      - '600'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "id" : "f6945fe1-12f8-4bb0-8da6-5ba0bf272b44/status",
          "type" : "request-status",
          "href" : "https://api.profitbricks.com/cloudapi/v3/requests/f6945fe1-12f8-4bb0-8da6-5ba0bf272b44/status",
          "metadata" : {
            "status" : "DONE",
            "message" : "Request has been successfully executed",
            "etag" : "2ba22e58ca17bb728d522bba36cf8350",
            "targets" : [ {
              "target" : {
                "id" : "67619f64-2f88-4c58-aa52-0ddf3def0e5f",
                "type" : "volume",
                "href" : "https://api.profitbricks.com/cloudapi/v3/datacenters/6c2134f7-3789-40ab-b465-939214119b22/volumes/67619f64-2f88-4c58-aa52-0ddf3def0e5f"
              },
              "status" : "DONE"
            } ]
          }
        }
  recorded_at: Thu, 20 Apr 2017 15:20:22 GMT
recorded_with: VCR 3.0.3
